@import "../../../mixins";
@import "../../../config";

/* Slides Widget */
@keyframes ken-burns-in {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes ken-burns-out {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.elementor-slides:not(.slick-initialized){
  .slick-slide{
    &:not(:first-child){
      content-visibility: hidden;
      display: none;
    }
  }
}
.elementor-widget-lastudio-slides .elementor-slick-slider .slick-dotted.slick-slider{
  margin-bottom: 0;
}
.elementor-slides .slick-slide-bg {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: transform;
  transition-duration: 10s;
  min-height: 100%;
  width: 100%;
}

.elementor-slides .slick-slide-bg.elementor-ken-out {
  transform: scale(1.3);
}

.elementor-slides .slick-slide {
  @include display();
  position: relative;
  overflow: hidden;
  height: 400px;
  @include justify-content(center);
  @include align-items(center);
}

.elementor-slides .slick-slide{
  .slick-slide-wrapbg,
  .slick-slide-inner{
    @include flex-basis(100%);
    @include display();
    width: 100%;
  }
  .slick-slide-wrapbg{
    @include flex-basis(var(--slide-bg-width, 100%));
    min-height: 100%;
    overflow: hidden;
  }
}

.elementor-slides .slick-slide:focus {
  outline: 0;
}

.elementor-slides .slick-slide.slick-active .slick-slide-bg {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.elementor-slides .slick-slide.slick-active .slick-slide-bg.elementor-ken-in {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-animation-name: ken-burns-in;
  animation-name: ken-burns-in;
}

.elementor-slides .slick-slide.slick-active .slick-slide-bg.elementor-ken-out {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-animation-name: ken-burns-out;
  animation-name: ken-burns-out;
}

.elementor-slides .slick-slide-inner {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.elementor-slides .slick-slide-inner,
.elementor-slides .slick-slide-inner:hover {
  @include display();
}

.elementor-slides .slick-slide-inner .elementor-background-overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.elementor-slides .slick-slide-inner .elementor-slide-content {
  position: relative;
  z-index: 1;
  width: 100%;
}

.elementor-slides .slick-slide-inner .elementor-slide-heading {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
}

.elementor-slides .slick-slide-inner .elementor-slide-description {
  font-size: 17px;
  line-height: 1.4;
}

.elementor-slides .slick-slide-inner .elementor-slide-heading:not(:last-child){
  margin-bottom: 20px;
}
.elementor-slides .slick-slide-inner .elementor-slide-description:not(:last-child) {
  margin-bottom: 30px;
}

.elementor-slides .slick-slide-inner .elementor-slide-button {
  border: solid 2px;
}

.elementor-slides .slick-slide-inner .elementor-slide-button,
.elementor-slides .slick-slide-inner .elementor-slide-button:hover {
  background: transparent;
  color: inherit;
  text-decoration: none;
}

.elementor--v-position-top .slick-slide-inner {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.elementor--v-position-bottom .slick-slide-inner {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.elementor--v-position-middle .slick-slide-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.elementor--h-position-left .slick-slide-inner {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.elementor--h-position-right .slick-slide-inner {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.elementor--h-position-center .slick-slide-inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.elementor-slides-wrapper div:not(.slick-slide) > .slick-slide-inner {
  display: none;
}

@media (max-width: 767px) {
  .elementor-slides .slick-slide-inner .elementor-slide-heading {
    font-size: 23px;
    line-height: 1;
    margin-bottom: 15px;
  }
  .elementor-slides .slick-slide-inner .elementor-slide-description {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
}

.slick-slide-bg a {
  display: none;
}
.elementor-widget-lastudio-slides{
  --elm-slide-space: 0;
  .slick-list{
    margin-left: calc( -1 * var(--elm-slide-space) / 2 );
    margin-right: calc( -1 * var(--elm-slide-space) / 2 );
  }
  .slick-slide{
    margin-left: calc(var(--elm-slide-space) / 2);
    margin-right: calc(var(--elm-slide-space) / 2);
  }
}
.elementor-slick-slider{
  --elm-slide-item: 1;
  .elementor-slides{
    &:not(.slick-initialized){
      .slick-slide{
        width: calc( 100% / var(--elm-slide-item) );
        margin: 0;
      }
    }
    .slick-arrow{
      outline: none;
      font-size: 18px;
      width: 50px;
      &:before{
        display: none;
      }
    }
  }
}
.elementor-slide-subheading{
  margin-bottom: 5px;
}
.elementor-slide-subdescription2 a:not(:last-child) {
  margin-right: 1.5em;
}
.elementor-slick-slider .elementor-slides ul.slick-dots {
  top: 100%;
  bottom: auto;
}
.elementor-slides ul.lastudio-slick-dots {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}
@media(max-width: 600px){
  .elementor-slick-slider .elementor-slides .slick-arrow.slick-next{
    right: 0
  }
  .elementor-slick-slider .elementor-slides .slick-arrow.slick-prev{
    left: 0
  }
}

.fake-controls {
  display: none;
}