/* -----------------------------------------
  WordPress Blocks general styles
----------------------------------------- */

/* Latest Posts block
=================================== */
.wp-block-latest-posts {
	.wp-block-latest-posts__featured-image {
		img {
			@include border-image;
		}
	}
}

/* Image block
=================================== */
.wp-block-image {
	&.is-style-ignition-spencer-border-image {
		img {
			@include border-image;
		}
	}
}

/* Button block
=================================== */
.wp-block-button {
	&.aligncenter {
		text-align: center;
	}
}


/* Gallery block
=================================== */
.wp-block-gallery {
	&.is-style-ignition-spencer-border-image {
		img {
			@include border-image;
		}

		.blocks-gallery-item__caption {
			bottom: 10px;
			left: 10px;
			width: calc(100% - 20px);
		}
	}
}

/* Media & Text block
=================================== */
.wp-block-media-text {
	&.is-style-ignition-spencer-border-image {
		.wp-block-media-text__media {
			@include border-image;
		}

		&.is-image-fill {
			.wp-block-media-text__media {
				position: relative;
				box-shadow: none;
				padding: 0;
				background-color: transparent;

				&::before {
					@include border-image;
					background: none;
					border: 10px solid var(--ignition-colors-white);
					content: "";
					pointer-events: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

/* Cover block
=================================== */
.wp-block-cover {
	&.is-style-ignition-spencer-border-image {
		&::after {
			@include border-image;
			background: none;
			border: 10px solid var(--ignition-colors-white);
			content: "";
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
}

/* Video block
=================================== */
.wp-block-video {
	&.is-style-ignition-spencer-border-image {
		video {
			@include border-image;
		}
	}
}

/* Embeds block (Needs custom class)
=================================== */
.wp-block-embed {
	&.is-style-ignition-spencer-border-image {
		iframe {
			@include border-image;
		}
	}
}

/* Pullquote block
=================================== */
.wp-block-pullquote {
	&.is-style-solid-color {
		font-size: 1rem;
		line-height: 1.33;
		position: relative;
		padding: 30px 30px 30px 80px;

		&::before {
			content: "\00201C";
			font-style: normal;
			font-size: 4rem;
			line-height: 0;
			position: absolute;
			left: 30px;
			top: 57px;
		}

		blockquote {
			margin: 0;
			max-width: 100%;

			p {
				font-size: 1rem;
				line-height: 1.56;
				font-weight: var(--ignition-font-weight-normal);
			}

			cite {
				font-size: .875rem;
				font-weight: var(--ignition-font-weight-normal);
			}
		}
	}
}

/* Quote block
=================================== */
.wp-block-quote {
	font-size: 1rem;
	line-height: 1.33;
	position: relative;
	padding: 30px 30px 30px 80px;
	border: 0;
	background-color: var(--ignition-colors-grey);
	text-align: left;

	&::before {
		content: "\00201C";
		font-style: normal;
		font-size: 4rem;
		line-height: 0;
		position: absolute;
		left: 30px;
		top: 57px;
	}

	p {
		font-size: 1rem;
		line-height: 1.56;
		font-weight: var(--ignition-font-weight-normal);

		&:last-child {
			margin-bottom: 0;
		}
	}

	cite {
		font-size: .875rem;
		font-weight: var(--ignition-font-weight-normal);
	}

	&.is-style-large {
		padding: 30px 30px 30px 80px;

		p {
			font-size: 20px;
		}
	}

	&.has-text-align-center {
		padding: 30px;
		text-align: center;

		&::before {
			display: block;
			position: static;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}

	&.has-text-align-right {
		padding: 30px 80px 30px 30px;

		&::before {
			left: auto;
			right: 30px;
			top: 30px;
			transform: rotate(180deg);
		}
	}
}

/* -----------------------------------------
  Gutenbee Plugin Blocks
----------------------------------------- */

/* Paragraph Block
=================================== */
.has-drop-cap:not(:focus) {
	&::first-letter {
		font-size: 4.2em;
	}
}

/* Image block
=================================== */
.wp-block-gutenbee-image {
	&.is-style-ignition-spencer-border-image {
		img {
			@include border-image;
		}
	}
}

/* Image Box block
=================================== */
.wp-block-gutenbee-imagebox {
	&.is-style-ignition-spencer-border-image {
		img {
			@include border-image;
		}
	}
}

/* Gallery block
=================================== */
.wp-block-gutenbee-justified-gallery {
	&.is-style-ignition-spencer-border-image {
		img {
			@include border-image;
		}
	}
}

/* Video block
=================================== */
.wp-block-gutenbee-video {
	&.is-style-ignition-spencer-border-image {
		video {
			@include border-image;
		}
	}
}

/* Slideshow block
=================================== */
.wp-block-gutenbee-slideshow {
	&.is-style-ignition-spencer-border-image {
		@include border-image;

		button.slick-prev {
			left: 10px;
		}

		button.slick-next {
			right: 10px;
		}

		.slick-dots {
			bottom: 15px;
		}
	}
}

/* Post types block
=================================== */
.wp-block-gutenbee-post-types {
	&.is-style-ignition-spencer-item-alt {
		.entry-item-product  {
			.woocommerce-LoopProduct-link {
				position: relative;
			}

			.star-rating {
				margin: 10px auto;
			}
		}
	}
}
