/* -----------------------------------------
 Header
----------------------------------------- */

/* Top bar
========================================= */
.head-intro {
	text-transform: uppercase;
	font-size: 11px;
	padding: 6px 0;

	[id*="social"].menu a {
		font-size: 13px;
	}
}

.head-intro-inner::after {
	display: none;
}

/* Mast head
========================================= */
.head-mast {
	font-size: 16px;

	.head-mast-inner {
		padding: 13px 0;
	}
}

/* Branding
========================================= */
.site-logo {
	font-weight: var(--ignition-font-weight-normal);
	font-size: 18px;
	margin: 0;
	letter-spacing: .28em;
	text-transform: uppercase;
}

.site-tagline {
	text-transform: uppercase;
	font-size: 11px;
	margin: 0;
}

/* Page hero
========================================= */
.page-hero-content {
	@include media-breakpoint-down(xs) {
		text-align: center;

		.woocommerce-breadcrumb {
			justify-content: center;
		}
	}
}

.page-hero-subtitle {
	margin: 0;
	font-size: 16px;
}

/* Page title (in content)
========================================= */
.page-title-wrap {
	margin-bottom: 80px;
}

.page-subtitle {
	font-size: 16px;
}


/* Header shortcodes
========================================= */
.ignition-wc-search-form-wrap {
	.ignition-wc-search-select {
		font-size: 12px;
	}

	.ignition-wc-search-results {
		text-transform: none;
	}

	.ignition-wc-search-results-item-title {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: var(--ignition-font-weight-bold);
	}
}
