/*--------------------------------------------------------------
# Datepicker
--------------------------------------------------------------*/
.datepick-popup {
  font-size: 14px;
}
.datepick-popup .datepick-cmd-prev:before,
.mphb-calendar .datepick-cmd-prev:before {
  right: auto;
  left: 0;
}

.datepick-popup a.datepick-cmd,
.mphb-calendar a.datepick-cmd {
  padding: 0 1em;
  position: relative;
}

.datepick-popup a.datepick-cmd:focus,
.mphb-calendar a.datepick-cmd:focus {
  outline: none;
}

.datepick-popup a.datepick-cmd.datepick-cmd-today,
.mphb-calendar a.datepick-cmd.datepick-cmd-today {
  color: $primary-color;
  font-weight: 700;
}

.datepick-popup a.datepick-cmd.datepick-cmd-today:hover,
.mphb-calendar a.datepick-cmd.datepick-cmd-today:hover {
  text-decoration: none;
  color: #222222;
}

.mphb-calendar .datepick,
.datepick-popup .datepick {
  border: none;
  border-radius: 0;
  max-width: 100%;
  font-size: 100%;
  font-family: inherit;
  width: 550px !important;
}


.mphb-calendar a,
.datepick-popup a {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mphb-calendar .datepick-nav, .mphb-calendar .datepick-ctrl,
.datepick-popup .datepick-nav,
.datepick-popup .datepick-ctrl {
  font-size: inherit;
  font-weight: normal;
}

.mphb-calendar .datepick-nav,
.datepick-popup .datepick-nav {
  background-color: #fff;
  margin-bottom: 1rem;
}

.mphb-calendar .datepick-nav a,
.datepick-popup .datepick-nav a {
  color: #222222;
}

.mphb-calendar .datepick-nav a:hover,
.datepick-popup .datepick-nav a:hover {
  background-color: #fff;
  color: $primary-color;
}

.mphb-calendar .datepick-nav a.datepick-disabled,
.datepick-popup .datepick-nav a.datepick-disabled {
  cursor: not-allowed;
  color: #9f9f9f;
}

.mphb-calendar .datepick-nav a.datepick-disabled:hover,
.datepick-popup .datepick-nav a.datepick-disabled:hover {
  background-color: #fff;
}

.mphb-calendar .datepick-ctrl,
.datepick-popup .datepick-ctrl {
  margin-bottom: .875rem;
  background-color: #fff;
}

.mphb-calendar .datepick-ctrl a,
.datepick-popup .datepick-ctrl a {
  color: $primary-color;
  width: 50%;
  font-weight: 700;
}

.mphb-calendar .datepick-ctrl .datepick-cmd:hover,
.datepick-popup .datepick-ctrl .datepick-cmd:hover {
  background-color: #fff;
  color: #222222;
  text-decoration: none;
}

.mphb-calendar a.datepick-cmd,
.datepick-popup a.datepick-cmd {
  height: 2.5rem;
  line-height: 2.5rem;
}

.mphb-calendar a.datepick-cmd.datepick-cmd-today,
.datepick-popup a.datepick-cmd.datepick-cmd-today {
  width: 40%;
}

.mphb-calendar .datepick-month-header,
.datepick-popup .datepick-month-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mphb-calendar .datepick-month-header, .mphb-calendar .datepick-month-header select, .mphb-calendar .datepick-month-header input,
.datepick-popup .datepick-month-header,
.datepick-popup .datepick-month-header select,
.datepick-popup .datepick-month-header input {
  height: 2.778em;
  background-color: #fff;
  color: #121516;
  font-weight: 700;
  line-height: 2.778em;
  font-family: inherit;
  background-position: right -15px center;
  background-size: 8px 10px;
}
.mphb-calendar .datepick-month-row,
.datepick-popup .datepick-month-row{
  margin-left: -5px;
  margin-right: -5px;
}
.mphb-calendar .datepick-month,
.datepick-popup .datepick-month {
  width: 300px;
  border: none;
  padding: 5px;
  max-width: 50%;
}

.mphb-calendar .datepick-month thead,
.datepick-popup .datepick-month thead {
  border-bottom: 0;
}

.mphb-calendar .datepick-month table,
.datepick-popup .datepick-month table {
  margin: 0;
  border: none;
}

.mphb-calendar .datepick-month tbody,
.datepick-popup .datepick-month tbody {
  line-height: 2.1em;
}

.mphb-calendar .datepick-month th,
.datepick-popup .datepick-month th {
  border: none;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 0;
}

.mphb-calendar .datepick-month th,
.mphb-calendar .datepick-month th a,
.datepick-popup .datepick-month th,
.datepick-popup .datepick-month th a {
  background-color: transparent;
  color: #6e7078;
}

.mphb-calendar .datepick-month td,
.datepick-popup .datepick-month td {
  background-color: #fff;
  border: 2px solid #fff;
}

.mphb-calendar .datepick-month a,
.datepick-popup .datepick-month a {
  padding: 0;
  background-color: #fff;
  color: #484848;
}

.mphb-calendar .datepick-month span,
.datepick-popup .datepick-month span {
  padding: 0;
}

.mphb-calendar .datepick-month td span,
.datepick-popup .datepick-month td span {
  color: #d9dae0;
}

.mphb-calendar .datepick-month td .datepick-weekend,
.datepick-popup .datepick-month td .datepick-weekend {
  background-color: #fff;
}

.mphb-calendar a,
.datepick-popup a {
  -webkit-transition: 0.3s background, 0.3s color;
  transition: 0.3s background, 0.3s color;
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-available-date {
  background-color: #f7f7f7;
  color: #605b5b;
}

.mphb-calendar.mphb-datepick .datepick-month td a:hover,
.datepick-popup .mphb-datepick-popup .datepick-month td a:hover {
  text-decoration: none;
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-date-cell,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-date-cell {
  font-weight: 400;
  line-height: 30px;
  min-width: 30px;
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-not-stay-in-date:not(.mphb-past-date),
.mphb-calendar.mphb-datepick .datepick-month td .mphb-not-available-date,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-not-stay-in-date:not(.mphb-past-date),
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-not-available-date {
  color: #d9dae0;
  background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #fafafa 4px, #fafafa 6px);
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-date-selectable,
.mphb-calendar.mphb-datepick .datepick-month td a.mphb-selectable-date,
.mphb-calendar.mphb-datepick .datepick-month td .mphb-available-date,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-date-selectable,
.datepick-popup .mphb-datepick-popup .datepick-month td a.mphb-selectable-date,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-available-date {
  background: #f7f7f7;
  color: #605b5b;
}

.mphb-calendar.mphb-datepick .datepick-month td span.mphb-selectable-date,
.mphb-calendar.mphb-datepick .datepick-month td .mphb-past-date,
.datepick-popup .mphb-datepick-popup .datepick-month td span.mphb-selectable-date,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-past-date {
  opacity: 1;
  color: #d9dae0;
  background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #fafafa 4px, #fafafa 6px);
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-earlier-min-date,
.mphb-calendar.mphb-datepick .datepick-month td .mphb-later-max-date,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-earlier-min-date,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-later-max-date {
  background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #fafafa 4px, #fafafa 6px);
  color: #d9dae0;
  opacity: 1;
}

.mphb-calendar.mphb-datepick .datepick-month td a.datepick-selected,
.datepick-popup .mphb-datepick-popup .datepick-month td a.datepick-selected {
  background-color: $primary-color;
  color: #fff;
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-booked-date,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-booked-date {
  opacity: 1;
}

.mphb-calendar.mphb-datepick .datepick-month td a.datepick-highlight,
.mphb-calendar.mphb-datepick .datepick-month td .mphb-check-in-date,
.datepick-popup .mphb-datepick-popup .datepick-month td a.datepick-highlight,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-check-in-date {
  background: $primary-color;
  color: #fff;
}

.mphb-calendar.mphb-datepick .datepick-month td a.datepick-highlight.datepick-today,
.mphb-calendar.mphb-datepick .datepick-month td .mphb-check-in-date.datepick-today,
.datepick-popup .mphb-datepick-popup .datepick-month td a.datepick-highlight.datepick-today,
.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-check-in-date.datepick-today {
  color: #fff;
}

.mphb-calendar.mphb-datepick .datepick-month td a.datepick-today,
.mphb-calendar.mphb-datepick .datepick-month td span.datepick-today,
.datepick-popup .mphb-datepick-popup .datepick-month td a.datepick-today,
.datepick-popup .mphb-datepick-popup .datepick-month td span.datepick-today {
  color: #121516;
  background: transparent;
}

.mphb-calendar.mphb-datepick .datepick-month td a.datepick-today.datepick-selected, .mphb-calendar.mphb-datepick .datepick-month td a.datepick-today.datepick-highlight,
.mphb-calendar.mphb-datepick .datepick-month td span.datepick-today.datepick-selected,
.mphb-calendar.mphb-datepick .datepick-month td span.datepick-today.datepick-highlight,
.datepick-popup .mphb-datepick-popup .datepick-month td a.datepick-today.datepick-selected,
.datepick-popup .mphb-datepick-popup .datepick-month td a.datepick-today.datepick-highlight,
.datepick-popup .mphb-datepick-popup .datepick-month td span.datepick-today.datepick-selected,
.datepick-popup .mphb-datepick-popup .datepick-month td span.datepick-today.datepick-highlight {
  background-color: $primary-color;
  color: #fff;
}

.datepick-popup {
  background: #fff;
  -webkit-box-shadow: 0px 13px 43px 0px rgba(6, 28, 52, 0.23);
  box-shadow: 0px 13px 43px 0px rgba(6, 28, 52, 0.23);
  padding: 0 1.875rem;
  max-width: 100%;
}

.datepick-popup .datepick-nav {
  margin-top: .875rem;
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-booked-date {
  background-color: $primary-color;
  text-decoration: none;
}

.mphb-calendar .datepick {
  overflow: hidden;
}

.datepick-cmd-current, .datepick-cmd-today {
  width: 40%;
  font-size: 14px;
  color: #222222;
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-booked-date {
  background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #fafafa 4px, #fafafa 6px);
  text-decoration: none;
  color: #d9dae0;
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-booked-date.mphb-date-check-in.mphb-date-check-out {
  color: #d9dae0;
  background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #fafafa 4px, #fafafa 6px);
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-booked-date.mphb-date-check-in {
  color: #605b5b;
  background: linear-gradient(135deg, #f9f7f3 50%, transparent 50%), repeating-linear-gradient(-45deg, #fff, #fff 3px, #fafafa 4px, #fafafa 6px);
}

.mphb-calendar.mphb-datepick .datepick-month td .mphb-available-date.mphb-date-check-out {
  background: linear-gradient(135deg, transparent 50%, #f9f7f3 50%), repeating-linear-gradient(-45deg, #fff, #fff 3px, #fafafa 4px, #fafafa 6px);
}

ul.mphb-widget-room-type-attributes,
ul.mphb-single-room-type-attributes,
ul.mphb-loop-room-type-attributes {
  list-style: none;
  margin: 0 0 1.5em;
  padding: 0;
  li{
    padding-left: 1.5em;
    position: relative;
    margin-bottom: 5px !important;
    &:before{
      display: inline-block;
      font: normal normal normal 1em/1 LaStudioIcons;
      speak: none;
      text-transform: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $primary-color;
      position: absolute;
      left: 0;
      top: .25em;
    }
  }
}

.mphb-room-type-children:before,
.mphb-room-type-adults:before,
.mphb-room-type-children-capacity:before,
.mphb-room-type-adults-capacity:before {
  content: '\ea3b';
}
.mphb-room-type-facilities:before{
  content: '\ea5d';
}
.mphb-room-type-view:before{
  content: '\ea2a';
}
.mphb-room-type-size:before{
  content: '\ea48';
}
.mphb-room-type-bed-type:before{
  content: '\ea50';
}
.mphb-room-type-categories:before{
  content: '\ea40';
}

.mphb-price {
  font-size: 1.5em;
  line-height: 1;
  color: $secondary-color;
  .mphb-currency{
    font-size: 14px;
    vertical-align: super;
  }
}
.mphb-price-period{
  border: none;
  &:before{
    content: "/";
    padding-right: .3em;
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  }
}

.mphb_sc_rooms-wrapper{
  .mphb-room-type{
    @include display();
    margin-right: -30px;
    margin-left: -30px;
  }
  .room-images-wrapper,
  .room-description-wrapper{
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .room-description-wrapper{
    @include display();
    @include align-items(center)
  }
}

.room-description-wrapper {
  font-size: .875em;
}
.room-images-outer {
  position: relative;
  padding-bottom: 100%;
}
.room-images-wrapper{
  .flex-viewport{
    height: 100% !important;
  }
  .mphb-loop-room-thumbnail,
  .mphb-room-type-images{
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    top: 0;
  }
  .mphb-gallery-slider,
  .post-thumbnail,
  .post-thumbnail a,
  .post-thumbnail img,
  .flex-viewport .slides,
  .flex-viewport .slides > li,
  .flex-viewport .slides > li .gallery-icon,
  .flex-viewport .slides > li .gallery-icon a,
  .flex-viewport .slides > li .gallery-icon a img{
    height: 100%;
  }
  .flex-viewport .slides > li{
    margin-bottom: 0 !important;
  }
  .post-thumbnail,
  .post-thumbnail a,
  .post-thumbnail img,
  .flex-viewport .slides > li .gallery-icon,
  .flex-viewport .slides > li .gallery-icon a,
  .flex-viewport .slides > li .gallery-icon a img{
    display: block;
    width: 100%;
  }
  .post-thumbnail img,
  .flex-viewport .slides > li .gallery-icon a img{
    object-fit: cover;
    width: 100% !important;
    display: block !important;
  }
}
.room-booking-details{
  @include display();
  @include flex-flow(row wrap);
  font-size: .875em;
  .mphb-regular-price{
    width: 100%;
    strong {
      font-weight: normal;
      display: block;
      margin-bottom: 10px;
    }
  }
  select.mphb-rooms-quantity{
    margin-bottom: 1em;
  }
  br{
    display: none;
  }
  .mphb-book-button{
    margin-right: 20px;
  }
  .mphb-view-details-button{
    border: 1px solid $border-color;
    background-color: transparent;
    color: $secondary-color;
    &:hover{
      background-color: $primary-color;
      color: #fff;
      border-color: $primary-color;
    }
  }
}

.mphb_custom_searchforrm{
  .mphb-required-fields-tip{
    display: none;
  }
  .mphb_sc_search-form,
  .mphb_widget_search-form {
    @include display();
    @include align-items(flex-end);
    @include justify-content(center);
    p{
      margin: 0 10px 10px;
      label{
        display: inline-block;
      }
    }
    .mphb-datepick{
      background-color: #fff;
      box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
      font-size: 16px;
      padding: 20px;
      line-height: 30px;
      border: none;
      width: 300px;
      max-width: 100%;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cg stroke='currentcolor' stroke-linecap='round' stroke-linejoin='round' fill='none' fill-rule='evenodd'%3E%3Cpath d='M8 11.5h7.5M13 9l2.5 2.5L13 14M.5 5.5h15'/%3E%3Cpath d='M15.5 7.5v-4a1 1 0 00-1-1h-13a1 1 0 00-1 1v11a1 1 0 001 1h9m-6-15v2m7-2v2'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 15px center;
      &[name="mphb_check_out_date"]{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' fill='none' fill-rule='evenodd'%3E%3Cpath d='M8 11.5H.5M3 9L.5 11.5 3 14m12.5-8.5H.5'/%3E%3Cpath d='M.5 7.5v-4a1 1 0 011-1h13a1 1 0 011 1v11a1 1 0 01-1 1h-9m6-15v2m-7-2v2'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
    select{
      background-color: #fff;
      box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
      font-size: 16px;
      padding: 20px;
      line-height: 30px;
      border: none;
      height: 70px;
      width: 220px;
      max-width: 100%;
    }
    .button{
      font-size: 16px;
      font-weight: 600;
      line-height: 30px;
      padding: 20px;
      background-color: $primary-color;
      color: #fff;
      width: 180px;
      max-width: 100%;
      &:hover{
        color: #fff;
        background-color: $secondary-color;
      }
    }
  }

  .mphb_sc_search-check-in-date,
  .mphb_sc_search-check-out-date {
    max-width: calc(26% - 20px);
  }
  .mphb_sc_search-adults,
  .mphb_sc_search-children{
    max-width: calc(16% - 20px);
  }
  .mphb_sc_search-submit-button-wrapper {
    max-width: calc( 16% - 20px);
  }
}
.mphb-room-type-images{
  .mphb-flexslider{
    border: none;
    border-radius: 0;
    ul.flex-direction-nav{
      li{
        margin: 0;
      }
      a{
        background-color: #fff;
        font-size: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        &:before {
          font-family: 'LaStudioIcons';
          content: '\ea11';
          font-size: inherit;
          color: inherit;
          text-shadow: none;
          pointer-events: none;
        }
        &.flex-next{
          &:before{
            content: '\ea12';
          }
        }
      }
    }
  }
}

.meta-mphb{
  ~ .post-meta{
    display: none;
  }
}

.querycpt--mphb_room_type{
  .mphb-price{
    color: inherit;
  }
  &.preset-grid-2{
    .lastudio-posts__inner-content{
      @include display();
      @include flex-wrap(wrap);
      > div{
        width: 100%;
      }
      .meta-mphb{
        width: auto;
        margin-left: auto;
        font-size: 1em;
      }
    }
  }
}
.mphb_sc_checkout-wrapper .mphb_sc_checkout-submit-wrapper .button,
.mphb-booking-form .mphb-reserve-btn,
.room-booking-details .button,
.widget_mphb_search_availability_widget .button,
.mphb_sc_search_results-wrapper .mphb-reservation-cart .mphb-confirm-reservation,
.mphb-search-recommendations-wrapper .mphb-recommendation .mphb-recommendation-reserve-button{
  border-radius: 30px;
  min-width: 150px;
}
.mphb_sc_checkout-wrapper .mphb_sc_checkout-submit-wrapper .button,
.mphb-booking-form .mphb-reserve-btn,
.room-booking-details .mphb-book-button,
.widget_mphb_search_availability_widget .button,
.mphb_sc_search_results-wrapper .mphb-reservation-cart .mphb-confirm-reservation,
.mphb-search-recommendations-wrapper .mphb-recommendation .mphb-recommendation-reserve-button{
  background-color: $primary-color;
  &:hover{
    background-color: $secondary-color;
  }
}

/** WIDGETS **/
.widget_mphb_search_availability_widget{
  p{
    label {
      font-size: 14px;
      display: inline-block;
      margin-bottom: 5px;
    }
    select{
      margin-top: 0 !important;
    }
  }
  .button{
    width: 100%;
  }
}
.mphb_widget_rooms-wrapper {
  font-size: 14px;
  .mphb-widget-room-type-title{
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    color: $heading-font-color;
    line-height: 1.2;
    font-size: var(--theme-h5-font-size);
    margin: 0;
    a{
      font-weight: inherit;
    }
  }
  .mphb-book-button{
    border-radius: 40px;
    min-width: 120px;
    padding: 15px 20px;
    line-height: 20px;
    font-weight: 600;
  }
  .mphb-widget-room-type-price{
    >span:first-child{
      display: none;
    }
    .mphb-price{
      font-weight: normal;
    }
  }
  .mphb-widget-room-type-featured-image{
    margin-top: 0 !important;
  }
  .mphb-room-type{
    +.mphb-room-type{
      margin-top: 2em;
      padding-top: 2em;
      border-top: 1px solid $border-color;
    }
  }
}
.mphb-widget-room-type-featured-image{
  a {
    position: relative;
    padding-bottom: 75%;
    display: block;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/** Search results **/
.mphb-search-recommendations-wrapper {
  padding: 2.5em;
  border: 1px solid $border-color;
  margin: 2em 0 3em;
  h2{
    font-size: var(--theme-h5-font-size);
    letter-spacing: -.5px;
  }
  ul{
    list-style: none;
    margin: 0 0 2em;
  }
  .mphb-recommendation-item-link{
    font-weight: 600;
    color: $primary-color;
  }
  .mphb-price{
    font-size: 1em;
    .mphb-currency{
      font-size: 1em;
      vertical-align: baseline;
    }
  }
  .mphb-recommendation{
    .mphb-recommendation-reserve-button{
      clear: none;
      float: left;
    }
  }
}
.mphb_sc_search_results-wrapper{
  .mphb_room_type{
    box-shadow: 0 13px 43px 0 rgba(37,46,89,.1);
    padding: 2.5em;
    &:not(:first-of-type){
      margin-top: 2em;
    }
  }
  .mphb-reservation-cart{
    margin-bottom: 2em;
  }
  .mphb-room-type-title{
    font-size: var(--theme-h3-font-size);
    margin-bottom: 15px;
  }
  .mphb-loop-room-type-attributes{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.875em;
    -moz-column-gap: 1.875em;
    column-gap: 1.875em;
    li {
      display: inline-block;
      width: 100%;
    }
  }
  .room-content-wrapper{
    @include display();
    @include align-items(flex-start);
    .room-description-wrapper{
      @include flex(0 0 60%);
      max-width: 60%;
      padding-right: 30px;
      border-right: 1px solid $border-color;
      margin-right: 30px;
    }
    .button{
      width: 100%;
      margin: 0 0 1em;
    }
  }
  .room-images-outer{
    padding-bottom: 75%;
  }
  .room-images-wrapper,
  .room-excerpt {
    margin-bottom: 2em;
  }
  .mphb-view-details-button-wrapper{
    @include order(5);
    width: 100%;
  }
}

/** Details **/
.entry > .mphb-room-type-gallery-wrapper{
  margin-bottom: 1em;
  .gallery {
    @include display();
    @include flex-flow(row wrap);
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .gallery-item {
    width: 56% !important;
    max-width: 100%;
    margin: 0 !important;
    padding: 15px;
    &:nth-of-type(4n),
    &:nth-of-type(4n+1) {
      width: 44% !important;
    }
    .gallery-icon {
      height: 100%;
    }
    a {
      display: block;
      height: 100%;
    }
    img{
      border: none !important;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 0px 13px 43px 0px rgba(6,28,52,.23);
    }
  }
}
.single-room-article{
  .entry-title-single{
    margin-bottom: 0;
  }
  .entry-header,
  .post-thumbnail {
    margin-bottom: 2em;
  }
  >.entry{
    padding-right: 36%;
    position: relative;
    > .mphb-regular-price{
      display: none;
    }
    >h2{
      font-size: 26px;
      padding-top: 1em;
    }
  }
  .single-room-reservation-form {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32%;
    .mphb-regular-price{
      border-bottom: 1px solid $border-color;
      padding-bottom: 1.5em;
      padding-top: .5em;
      strong {
        font-weight: normal;
      }
    }
    .mphb-booking-form{
      font-size: 14px;
      label{
        display: inline-block;
      }
    }
  }
  .mphb-reservation-form-title{
    display: none;
  }
  .single-room-reservation-form-wrapper{
    max-width: 100%;
    margin-left: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 13px 43px 0 rgba(37,46,89,.1);
    .enable-header-sticky & {
      top: calc(var(--header-height) + 50px);
    }
  }
  .mphb-datepick.inlinePicker {
    font-size: 14px;
  }
  .mphb-reserve-btn-wrapper {
    text-align: center;
    .mphb-reserve-btn{
      width: 100%;
    }
  }
}

.is-mphb-page .widget-area .widget {
  box-shadow: 0 13px 43px 0 rgba(37, 46, 89, 0.1);
  padding: 30px;
  margin-bottom: 40px;
  font-size: 14px;
}

/** Checkout **/
.mphb_sc_checkout-wrapper {
  width: 770px;
  max-width: 100%;
  margin: 0 auto;
  strong{
    color: $secondary-color;
  }
  form label{
    display: inline-block;
    vertical-align: middle;
  }
  .mphb-room-type-title{
    letter-spacing: 0;
  }
  p{
    margin-bottom: 15px;
  }
  h3{
    font-size: 22px;
    margin-bottom: 20px;
  }
  h4{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mphb-booking-details{
    p{
      margin-bottom: 10px;
    }
  }
  .mphb-services-details-title,
  .mphb-room-rate-chooser-title,
  .mphb-reserve-rooms-details{
    padding-top: 30px;
  }
  .mphb-price{
    font-size: 1em;
    .mphb-currency{
      vertical-align: inherit;
    }
  }
  br{
    padding-top: 0 !important;
  }
  .mphb_checkout-services-list{
    margin-bottom: 0;
    li{
      margin-bottom: 0 !important;
    }
    select{
      width: auto;
      height: 40px;
      min-width: 60px;
    }
    label{
      margin-bottom: 5px;
      em{
        font-size: .875em
      }
    }
  }
  .mphb_sc_checkout-form{
    >.mphb-checkout-section{
      padding: 50px 40px;
      box-shadow: 0 13px 43px 0 rgba(37,46,89,.1);
      &:not(:first-of-type){
        margin-top: 3em;
      }
    }
  }
  .mphb-total-price{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .mphb_sc_checkout-submit-wrapper{
    .button{
      width: 100%;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1em;
    }
  }
}

@media(min-width: $screen-sm-min){
  .body-col-2cl.is-mphb-page .content-area,
  .body-col-2cr.is-mphb-page .content-area{
    width: 70%;
  }
  .is-mphb-page #sidebar_primary{
    width: 30%;
  }
}

@media(max-width: 1400px){
  .mphb_custom_searchforrm .mphb_sc_search-form .mphb-datepick,
  .mphb_custom_searchforrm .mphb_widget_search-form .mphb-datepick{
    width: 250px;
  }
  .mphb_custom_searchforrm .mphb_sc_search-form .button,
  .mphb_custom_searchforrm .mphb_widget_search-form .button,
  .mphb_custom_searchforrm .mphb_sc_search-form select,
  .mphb_custom_searchforrm .mphb_widget_search-form select {
    width: 150px;
  }
}

@media(max-width: 1200px){
  .mphb_custom_searchforrm .mphb_sc_search-form .mphb-datepick,
  .mphb_custom_searchforrm .mphb_widget_search-form .mphb-datepick{
    width: 220px;
    padding: 15px;
  }
  .mphb_custom_searchforrm .mphb_sc_search-form .button,
  .mphb_custom_searchforrm .mphb_widget_search-form .button,
  .mphb_custom_searchforrm .mphb_sc_search-form select,
  .mphb_custom_searchforrm .mphb_widget_search-form select {
    width: 100px;
  }
  .mphb_custom_searchforrm .mphb_sc_search-form select,
  .mphb_custom_searchforrm .mphb_widget_search-form select {
    height: 60px;
  }
  .mphb_custom_searchforrm .mphb_sc_search-form .button,
  .mphb_custom_searchforrm .mphb_widget_search-form .button{
    padding: 15px;
  }
}

@media(max-width: 992px){
  .mphb_custom_searchforrm .mphb_sc_search-form,
  .mphb_custom_searchforrm .mphb_widget_search-form{
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
    p{
      margin: 0;
      padding: 10px;
      width: 33.3333%;
      input.button,
      select{
        width: 100%;
      }
    }
    .mphb_widget_search-check-out-date,
    .mphb_widget_search-check-in-date{
      width: 50%;
      input{
        width: 100%;
      }
    }
  }
}

@media(max-width: 600px){
    .mphb_custom_searchforrm .mphb_sc_search-form .mphb_widget_search-check-out-date,
    .mphb_custom_searchforrm .mphb_sc_search-form .mphb_widget_search-check-in-date,
    .mphb_custom_searchforrm .mphb_widget_search-form .mphb_widget_search-check-out-date,
    .mphb_custom_searchforrm .mphb_widget_search-form .mphb_widget_search-check-in-date{
      width: 100%;
    }
}