/* -----------------------------------------
  WordPress Blocks general styles
----------------------------------------- */

/* -----------------------------------------
  Gutenbee Plugin Blocks
----------------------------------------- */

/* Paragraph Block
=================================== */
.has-drop-cap:not(:focus) {
	&::first-letter {
		padding: .1rem .35rem 0 0;
		font-size: 3.2rem;
		line-height: .9;
	}
}

/* File Block
=================================== */
.wp-block-file__content-wrapper {
	.wp-block-file__button {
		border-radius: 20px;
		font-size: 11px;
		text-transform: uppercase;
	}
}

/* Pullquote block
=================================== */
.wp-block-pullquote {
	&.is-style-solid-color {
		font-size: 1rem;
		line-height: 1.33;
		position: relative;
		padding: 30px 30px 30px 80px;
		border: 0;

		&::before {
			content: "\00201C";
			font-style: normal;
			font-size: 4rem;
			line-height: 0;
			position: absolute;
			left: 30px;
			top: 64px;
		}

		blockquote {
			margin: 0;
			max-width: 100%;

			p {
				font-size: 1rem;
				line-height: 1.56;
				font-weight: var(--ignition-font-weight-normal);
			}

			cite {
				font-size: .875rem;
				font-weight: var(--ignition-font-weight-normal);
			}
		}
	}
}

/* Quote block
=================================== */
.wp-block-quote {
	font-size: 1rem;
	line-height: 1.33;
	position: relative;
	padding: 0 0 0 50px;
	border: 0;

	&::before {
		content: "\00201C";
		font-style: normal;
		font-size: 4rem;
		line-height: 0;
		position: absolute;
		left: 0;
		top: 33px;
	}

	p {
		font-size: 1rem;
		line-height: 1.56;
		font-weight: var(--ignition-font-weight-normal);

		&:last-child {
			margin-bottom: 0;
		}
	}

	cite {
		font-size: .875rem;
		font-weight: var(--ignition-font-weight-normal);
	}

	&.is-style-large {
		padding: 0 0 0 50px;

		p {
			font-size: 24px;
		}
	}

	&.has-text-align-center {
		padding: 0;

		&::before {
			display: block;
			position: static;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}

	&.has-text-align-right {
		padding: 0 50px 0 0;

		&::before {
			left: auto;
			right: 0;
			top: -5px;
			transform: rotate(180deg);
		}
	}
}
