/* -----------------------------------------
 Header
----------------------------------------- */

/* Top bar
========================================= */
.head-intro {
	font-size: 14px;
	border-bottom: 1px solid transparent;
}

.head-intro-inner {
	padding: 10px 0;

	&::after {
		display: none;
	}
}

/* Mast head
========================================= */
.head-mast {
	font-size: 16px;
}

// Reset ignition's borders
.header-normal .head-mast,
.header-fixed .head-mast,
.header-fixed .head-mast:not(.sticky-fixed) {
	border: 0;
}

.head-mast-inner {
	transition: none;

	.head-content-slot {
		margin: 0 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	.head-content-slot-end {
		flex: none;
		margin-left: auto;
	}

	.head-content-slot-item {
		height: 52px;
		padding: 0 18px;
		border: 1px solid;
		border-radius: var(--ignition-theme-border-radius-base);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: none;
		line-height: 1;
		box-shadow: var(--ignition-theme-box-shadow-base);
	}
}

.sticky-fixed {
	z-index: 30 !important;
}

/* Branding
========================================= */
.site-branding {
	width: 195px;
	max-width: 195px;
}

.site-logo {
	font-weight: var(--ignition-theme-font-weight-weight-black);
	letter-spacing: var(--ignition-theme-letter-spacing-base);
	font-size: 28px;

	a {
		&:hover {
			color: currentColor;
		}
	}
}

.site-tagline {
	line-height: 1;
}

.head-mast-navigation {
	background-color: rgba(255, 255, 255, .025);
}

/* Search bar
========================================= */
.head-content-slot-search-bar {
	flex: auto;
}

.head-search-form-wrap {
	width: 100%;
}

.category-search-form {
	display: flex;
	align-items: center;
	height: 52px;
	position: relative;
	box-shadow: var(--ignition-theme-box-shadow-base);
}

.category-search-select {
	max-width: 178px;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
	background-size: 10px;
	background-position: 95% 50%;
	font-size: 14px;
	border-radius: var(--ignition-theme-border-radius-base) 0 0 var(--ignition-theme-border-radius-base);
	border-right: 0;

	@include media-breakpoint-down(md) {
		display: none;
	}
}

.category-search-input-wrap {
	height: 100%;
	flex: auto;
	position: relative;

	.category-search-input {
		height: 100%;
		font-size: 14px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		appearance: none;

		@include media-breakpoint-up(lg) {
			border-radius: 0;
		}
	}
}

.category-search-spinner {
	@include spinner($color: #fff, $size: 24px, $border-size: 4px);
	position: absolute;
	right: 10px;
	top: 14px;
	opacity: 0;
	transition: opacity .18s ease;

	&.visible {
		opacity: 1;
	}
}

.category-search-results {
	position: absolute;
	list-style: none;
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 0 0 var(--ignition-theme-border-radius-base) var(--ignition-theme-border-radius-base);
	margin: 1px 0 0;
	border-top: 1px solid rgba(#fff, .3);
	padding: 10px 0;
	box-shadow: 0 3px 6px rgba(#000, .1);
	z-index: 25;
	display: none;
}

.category-search-results-item {
	margin: 0;

	a {
		padding: 7px 15px;
		display: flex;
		align-items: center;

		@include media-breakpoint-down(sm) {
			align-items: flex-start;
		}

		&:hover {
			background-color: var(--ignition-colors-grey);
		}
	}

	&.highlighted {
		a {
			background-color: var(--ignition-colors-grey);
		}
	}

	&.error {
		a {
			color: var(--ignition-colors-red);
		}
	}

	.category-search-results-item-thumb {
		margin-right: 15px;
		flex-shrink: 0;
		width: 90px;

		@include media-breakpoint-down(sm) {
			width: 50px;
		}
	}

	.category-search-results-item-title {
		margin-bottom: 10px;
	}

	.category-search-results-item-excerpt {
		font-size: 14px;
		margin-bottom: 0;
	}

	.category-search-results-item-price {
		margin: -5px 0 7px;
		font-size: 14px;
	}
}

button.category-search-btn {
	width: 52px;
	height: 100%;
	flex: none;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 var(--ignition-theme-border-radius-base) var(--ignition-theme-border-radius-base) 0;
	border: 0;

	.ignition-icons {
		position: relative;
		top: 2px;
	}
}

/* Sticky header
========================================= */
// Desktop
.head-mast-navigation {
	position: relative;

	&.sticky-fixed {
		position: fixed;
		top: 0;
		z-index: 100;
		width: 100%;
		transition: transform .2s ease-out;
	}

	&.sticky-active {
		&.sticky-hidden {
			transform: translate3d(0, -100%, 0);
		}
	}

	// Background overlay
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* Page hero
========================================= */
.page-hero-content {
	@include media-breakpoint-down(xs) {
		text-align: center;

		.woocommerce-breadcrumb {
			justify-content: center;
		}
	}

	.page-hero-title {
		font-size: 42px;
		line-height: 1;
		margin-bottom: 0;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-hero-subtitle {
	margin: 5px 0 0;
	line-height: 1.45;
}

/* Page title (in content)
========================================= */
.page-title-wrap {
	margin-bottom: 60px;
}

.page-title-content {
	.page-title {
		font-size: 28px;
		line-height: 1;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-subtitle {
	margin: 0;
	line-height: 1.45;
	font-size: 1rem;
}

.page-title-description,
.page-hero-subtitle {
	font-size: 24px;
}

.page-hero-content,
.page-title-content {
	@include media-breakpoint-up(xl) {
		width: 50%;
	}
}

/* Pre-main section (breadcrumbs)
=================================== */
.section-pre-main {
	.ignition-breadcrumbs {
		padding: 15px 0;
		font-size: 14px;
	}
}
