/* -----------------------------------------
 Pagination
----------------------------------------- */
.navigation,
.woocommerce-pagination {
	a,
	.page-numbers {
		font-size: 14px !important;
		padding: 5px 15px;
		margin-right: 5px;
		border: 2px solid;
	}

	.dots {
		border: 0;
		padding: 0;
	}
}
