.rev-btn i.lastudioicon {
  display: block;
}


#slider-3-slide-8-layer-18 {
  &,
  i{
    transform: none !important;
  }
  &:hover{
    animation: spinner1 5s linear infinite;
    i{
      animation: spinner2 5s linear infinite;
    }
  }
}

@keyframes spinner1 {
  to {
    transform: rotate(360deg)
  }
}
@keyframes spinner2 {
  to {
    transform: rotate(-360deg)
  }
}

.big-countdown{
  .lastudio-countdown--inprod {
    .lastudio-countdown-timer {
      transition: all .5s;
      padding: 0;
      @include justify-content(center);
      top: auto;
      bottom: 10%;
      .lastudio-countdown-timer__item {
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
        @include display;
        @include justify-content(center);
        @include align-items(center);
        margin: 5px;
        @media (max-width: 1200px) {
          width: 65px;
          height: 65px;
          margin: 3px;
        }
      }
    }

    .lastudio-countdown-timer__item-value {
      font-size: 20px;
      font-weight: bold;
      color: $secondary-color;
      line-height: 1.2;
      @media (max-width: 1200px) {
        font-size: 18px;
      }
    }

    .lastudio-countdown-timer__item-label {
      display: block !important;
      color: $three-color;
      line-height: 1.2;
      text-transform: uppercase;
      font-size: 12px;
      @media (max-width: 1200px) {
        font-size: 10px;
      }
    }

    .lastudio-countdown-timer__separator {
      display: none
    }
  }
  .product_item:hover .lastudio-countdown--inprod .lastudio-countdown-timer {
    bottom: calc(3% + var(--item_info, 100px));
  }
}


.lastudio-demo__list{
  --theme-demo-gap: 145px;
  margin-left: calc(-1 * var(--theme-demo-gap) / 2);
  margin-right: calc(-1 * var(--theme-demo-gap) / 2);
  .lastudio-demo__item{
    padding-left: calc( var(--theme-demo-gap) / 2);
    padding-right: calc( var(--theme-demo-gap) / 2);
    padding-bottom: calc( var(--theme-demo-gap) * .8);
  }
}

.lastudio-demo__filter {
  display: none;
}
.lastudio-demo .demo__item-image {
  padding-bottom: 95%;
  display: block;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  transition: box-shadow .5s;
}
.lastudio-demo h2{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 15px 0;
}

.lastudio-demo .lastudio-demo__item a:before {
  content: '\ea6b';
  font-family: 'LaStudioIcons';
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #212121;
  color: #fff;
  position: absolute;
  text-align: center;
  font-size: 24px;
  top: calc(95% - 25px);
  right: 0;
  transition: all .3s;
}

.lastudio-demo .lastudio-demo__item a {
  display: block;
  position: relative;
}
.lastudio-demo .lastudio-demo__item a:hover:before{
  background-color: #DB3951;
}
.lastudio-demo .lastudio-demo__item:hover .demo__item-image{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.in_menu .lastudio-demo__list{
  --theme-demo-gap: 40px;
  .lastudio-demo__item {
    @media(min-width: 1000px){
      width: 25%;
    }
    a{
      &:before{
        display: none;
      }
    }
  }
  .demo__item-image{
      padding-bottom: 56%;
  }
  h2{
    color: inherit;
    padding: 10px 0 0;
  }
}

@media(max-width: 992px){
  .in_menu .lastudio-demo__list{
    --theme-demo-gap: 20px;
    .lastudio-demo__item {
      width: 50%;
    }
    h2{
      font-size: 12px;
    }
  }
}

.lastudio-demo__item__inner {
  transition: all .3s;
}
.lastudio-demo__item__inner:hover {
  transform: translate(0, -10px);
}

.image-with-cursor{
  .elementor-widget-container{
    a {
      cursor: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 68 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='34' cy='34' r='34' fill='%23fff'/%3E%3Cpath d='M34.5 24.5v20M44.5 34.5h-20' stroke='%231E1E1E' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E"), auto;
    }
  }
  &.elementor-widget-image{
    &:hover{
      z-index: 2;
      .elementor-widget-container{
        a{
          transform: scale(1.05);
        }
      }
    }
  }
}