/* -----------------------------------------
 Footer
----------------------------------------- */
.footer-widgets {
	padding: 70px 0 45px;
	border-top: 1px solid;
}

.footer-info {
	border-top: 1px solid;
	font-size: 12px;
	text-transform: uppercase;
}
