/* -----------------------------------------
	Navigation
----------------------------------------- */

/* Main Navigation
========================================= */
.navigation-main {
	// Sub-menu containers
	ul {
		padding: 15px 5px;
		border-radius: 0;
		min-width: 220px;
		box-shadow: 0 0 24px rgba(#000, .08);
	}

	// First Level Menu Links
	// -----------------------------------
	// Default Styles
	> li > a {
		padding: 10px 0;
		margin: 0 10px;
		position: relative;
		color: currentColor;
	}

	// Sub-Menu Links
	// -----------------------------------

	// Default Styles
	li li a {
		padding: 6px 15px;
		text-transform: none;
		font-size: 1em;
	}

	// Nav button
	// -----------------------------------

	.nav-button {
		> a {
			border-radius: 0;

			&:hover {
				background-color: transparent;
				color: currentColor;
			}

			&::before {
				display: none;
			}
		}
	}
}

/* Mobile Navigation
========================================= */
.mobile-nav-trigger {
	font-weight: var(--ignition-font-weight-bold);
	padding: 3px 9px;
	font-size: 14px;
}
