/* -----------------------------------------
 Base theme styles
----------------------------------------- */

/* Main
========================================= */
.main {
	padding: 60px 0;
}

/* Typography
========================================= */
h1, h2, h3, h4, h5, h6 {
	font-weight: var(--ignition-font-weight-normal);
}

/* Buttons
========================================= */
.btn,
.button,
.gutenbee-block-button-link,
.wp-block-button__link,
.ci-item-filter,
input[type="submit"],
input[type="reset"],
button[type="submit"],
.ignition-slideshow .maxslider-btn {
	padding: 13px 28px;
	border-radius: var(--ignition-theme-border-radius-base);
}

.comment-reply-link {
	border-radius: var(--ignition-theme-border-radius-base);
	font-size: 12px;
}
