@font-face {
  font-family: 'FamitaNeue-Medium';
  src: url('../fonts/FamitaNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/FamitaNeue-Medium.woff') format('woff'), 
  url('../fonts/FamitaNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/FamitaNeue-Medium.svg#FamitaNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FamitaNeue-Mono';
  src: url('../fonts/FamitaNeue-Mono.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/FamitaNeue-Mono.woff') format('woff'), 
  url('../fonts/FamitaNeue-Mono.ttf')  format('truetype'), 
  url('../fonts/FamitaNeue-Mono.svg#FamitaNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-Display.otf')  format('opentype'),
       url('../fonts/Miller-Display.woff') format('woff'), 
       url('../fonts/Miller-Display.ttf')  format('truetype'), 
       url('../fonts/Miller-Display.svg#Miller-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
