/* -----------------------------------------
	Theme editor palette colors
----------------------------------------- */
$editor-palette: (
	theme-primary: #00a9ef, // Primary color
	theme-dark-gray: #444444, // Text color
	theme-medium-gray: #888888, // Text color light
	theme-light-gray: #ebebeb, // Border color
	theme-white: #ffffff,
	theme-black: #000000,
) !default;

:root {
	@each $name, $value in $editor-palette {
		.has-#{$name}-color {
			color: $value;
		}

		.has-#{$name}-background-color {
			background-color: $value;
		}
	}
}
