/* -----------------------------------------
 Pagination
----------------------------------------- */

.navigation,
.woocommerce-pagination {
	a,
	.page-numbers {
		padding: 8px 18px;
		font-size: 14px !important;
		border-radius: var(--ignition-convert-border-radius-base);
	}
}

.page-links {
	.page-number {
		padding: 8px 18px;
		font-size: 14px !important;
		border-radius: var(--ignition-convert-border-radius-base);
	}
}
