/* -----------------------------------------
	Elementor Styling
----------------------------------------- */

.elementor-widget-ci_post_types .entry-item-thumb img {
  border-radius: var(--ignition-theme-border-radius-base) var(--ignition-theme-border-radius-base) 0 0;
}

.elementor-widget-ci_post_types .entry-thumb img {
  border-radius: var(--ignition-theme-border-radius-base);
}

.elementor-widget-ci_post_types .product .entry-item-thumb {
  margin-bottom: 0 !important;
}

.elementor-widget-ci_post_types .product .entry-item-thumb img {
  margin-bottom: 0;
}