/* -----------------------------------------
Block editor styles
----------------------------------------- */

/* -----------------------------------------
	Base CSS Custom Properties (Variables)
----------------------------------------- */

:root {
  --ignition-medi-border-radius-base: 3px;
  --ignition-medi-letter-spacing-base: -.04em;
}

/* -----------------------------------------
 Archive Styles
----------------------------------------- */

.entry-header {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}

.entry-item-content {
  text-align: left;
}

.entry-item-title a,
.entry-title a {
  color: currentColor;
}

.entry-item-title + .entry-item-excerpt {
  margin-top: -30px;
}

.entry-item-excerpt {
  font-size: 15px;
}

.entry-thumb img,
.entry-item-thumb img {
  border-radius: var(--ignition-medi-border-radius-base);
}

.entry-meta {
  font-size: 14px;
}

.comment-notes,
.form-allowed-tags,
.entry-author-desc {
  font-size: inherit;
}

.entry-item-title + .entry-item-excerpt {
  margin-top: -20px;
}

.entry-item-title + .entry-meta {
  margin: -20px 0 30px;
}

/* Overlay item styles
=================================== */

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) {
  position: relative;
  text-align: left;
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: var(--ignition-medi-border-radius-base);
  z-index: 2;
  opacity: .5;
  transition: opacity .18s ease;
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media):hover::before {
  opacity: .8;
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .woocommerce-loop-product__title,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .woocommerce-loop-product__link,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .price,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-meta,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-item-title,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-item-excerpt {
  color: var(--ignition-colors-white);
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  color: var(--ignition-colors-white);
  z-index: 3;
  text-align: left;
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-item-content a {
  color: currentColor;
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) img,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .price,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-item-thumb,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-thumb,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-meta,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-item-excerpt {
  margin-bottom: 0;
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-item-thumb,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .entry-thumb {
  line-height: 0;
}

.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .button,
.is-style-ignition-medi-item-overlay .entry-item:not(.entry-item-media) .btn-entry-more {
  display: none;
}

/* Single custom post meta
=================================== */

.entry-list-meta {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px;
  padding: 20px;
  list-style: none;
  border-radius: var(--ignition-medi-border-radius-base);
  color: var(--ignition-colors-white);
}

.entry-list-meta-item {
  padding: 10px;
  width: 33.3333%;
}

.entry-list-meta-label {
  display: block;
  font-size: 10px;
  font-weight: var(--ignition-font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 2.9px;
}

.entry-list-meta-value {
  display: block;
  font-size: 16px;
  line-height: 1.4em;
}

/* Post filters
=================================== */

.ci-item-filter {
  background: none;
}

/* -----------------------------------------
 Theme color overrides
----------------------------------------- */

/* Global - Primary Color
========================================= */

.entry-title a,
.entry-item-title a,
.entry-meta a,
.wp-block-latest-posts > li > a,
.has-drop-cap:not(:focus)::first-letter,
.sidebar .widget_nav_menu .menu:not([id*="social"]) li > a,
.sidebar .widget_ignition-page-children-menu .menu li > a,
.ci-item-filter {
  color: var(--ignition-primary-color);
}

.sidebar .widget_nav_menu .menu:not([id*="social"]) .current_page_item > a,
.sidebar .widget_ignition-page-children-menu .menu .current_page_item > a,
.sidebar .widget_nav_menu .menu:not([id*="social"]) .current-menu-item > a,
.sidebar .widget_ignition-page-children-menu .menu li > a:hover,
.sidebar .widget_nav_menu .menu:not([id*="social"]) li > a:hover {
  border-color: var(--ignition-primary-color);
}

.is-style-ignition-medi-item-overlay .entry-item::before,
.wp-block-table.is-style-ignition-medi-table thead,
.entry-list-meta,
.sidebar .widget_ignition-page-children-menu .menu .current_page_item > a,
.sidebar .widget_nav_menu .menu:not([id*="social"]) .current_page_item > a,
.sidebar .widget_nav_menu .menu:not([id*="social"]) .current-menu-item > a {
  background-color: var(--ignition-primary-color);
}

/* Global - Secondary Color
========================================= */

.site-logo a:hover,
.navigation-main > li:hover > a,
.navigation-main > li > a:focus,
.navigation-main > .current-menu-item > a,
.navigation-main > .current-menu-parent > a,
.navigation-main > .current-menu-ancestor > a,
.navigation-main > .current_page_item > a,
.navigation-main > .current_page_ancestor > a,
.entry-title a:hover,
.entry-item-title a:hover,
.entry-meta a:hover,
.entry-item-excerpt a:hover,
.entry-item .woocommerce-loop-product__link:hover .woocommerce-loop-product__title,
.wp-block-latest-posts > li > a:hover,
.ignition-widget-item-title a:hover,
.wp-block-pullquote.is-style-solid-color::before,
.footer .footer-info a:hover,
.footer .widget_meta li a:hover,
.footer .widget_pages li a:hover,
.footer .widget_categories li a:hover,
.footer .widget_archive li a:hover,
.footer .widget_nav_menu li a:hover,
.footer .widget_recent_comments li a:hover,
.footer .widget_rss li a:hover,
.footer .widget_recent_entries li a:hover,
.footer .tag-cloud-link:hover,
.ignition-breadcrumbs a,
.list-social-share-icons a:hover {
  color: var(--ignition-secondary-color);
}

.navigation-main li li:hover > a,
.navigation-main li li > a:focus,
.navigation-main li .current-menu-item > a,
.navigation-main li .current-menu-parent > a,
.navigation-main li .current-menu-ancestor > a,
.navigation-main li .current_page_item > a,
.navigation-main li .current_page_ancestor > a,
.header-mini-cart-trigger .header-mini-cart-count,
.footer [id*="social"].menu a {
  background-color: var(--ignition-secondary-color);
  color: var(--ignition-colors-white);
}

.navigation-main .nav-button > a:focus,
.navigation-main .nav-button > a:hover,
.head-content-slot .nav-button > a:focus,
.head-content-slot .nav-button > a:hover,
.footer-content-slot .nav-button > a:focus,
.footer-content-slot .nav-button > a:hover {
  background-color: var(--ignition-secondary-color);
  border-color: var(--ignition-secondary-color);
  color: var(--ignition-colors-white);
}

.widget-title {
  border-color: var(--ignition-secondary-color);
}

.ci-item-filter.filter-active {
  background-color: var(--ignition-secondary-color);
  border-color: var(--ignition-secondary-color);
  color: var(--ignition-colors-white);
}

/* Global - Secondary Text Color
========================================= */

.entry-meta,
.entry-item-excerpt,
blockquote cite,
.entry-item-product .price,
li.wc-block-grid__product .wc-block-grid__product-price,
li.product .price,
[class^="wp-block"] > figcaption,
.wp-block-image figcaption,
.wp-block-gutenbee-image figcaption,
.wp-block-latest-comments .wp-block-latest-comments__comment-date,
.wp-block-latest-posts .wp-block-latest-posts__post-author,
.wp-block-latest-posts .wp-block-latest-posts__post-date,
.contact-form label > span,
.comment-metadata,
.form-allowed-tags,
.comment-notes,
.widget .rss-date,
.widget .post-date,
.wp-block-quote cite {
  color: var(--ignition-secondary-text-color);
}

/* Global - Border Color
========================================= */

.entry-header,
.sidebar .widget_nav_menu .menu:not([id*="social"]) li > a,
.sidebar .widget_ignition-page-children-menu .menu li > a {
  border-color: var(--ignition-border-color);
}

/* Top Bar / Default Colors
========================================= */

.header-normal .head-intro {
  border-bottom: 3px solid var(--ignition-top-bar-border-color);
}

.header-normal .head-intro-inner::after {
  border-bottom: 0;
}

.header-normal .head-mast {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

/* Footer - Text Color
========================================= */

.footer .widget .rss-date {
  color: var(--ignition-footer-text-color);
}

/* Footer - Border Color
========================================= */

.footer {
  border-color: var(--ignition-footer-border-color);
}

/* -----------------------------------------
  WordPress Blocks styles
----------------------------------------- */

/* Button Block
=================================== */

.gutenbee-block-button-link,
.wp-block-button__link {
  border-radius: var(--ignition-medi-border-radius-base);
  font-size: 14px;
}

.gutenbee-block-button-link,
.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]):hover,
.wp-block-button__link {
  background-color: var(--ignition-buttons-background-color);
  color: var(--ignition-buttons-text-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]),
.gutenbee-block-button-link {
  border-color: var(--ignition-buttons-background-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]) {
  color: var(--ignition-buttons-background-color);
}

/* Paragraph Block
=================================== */

.has-drop-cap:not(:focus)::first-letter {
  padding: 0 .55rem 0 0;
  font-size: 3.4rem;
  line-height: .9;
}

/* Separator Block
=================================== */

.wp-block-separator {
  background-color: var(--ignition-border-color);
}

/* Pullquote Block
=================================== */

.wp-block-pullquote {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.wp-block-pullquote.is-style-solid-color {
  font-size: 1rem;
  line-height: 1.33;
  position: relative;
  padding: 30px 30px 30px 80px;
  border: 0;
}

.wp-block-pullquote.is-style-solid-color::before {
  content: "\00201C";
  font-style: normal;
  font-size: 4rem;
  line-height: 0;
  position: absolute;
  left: 30px;
  top: 57px;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  margin: 0;
  max-width: 100%;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
  font-size: 1rem;
  line-height: 1.56;
  font-weight: var(--ignition-font-weight-normal);
}

.wp-block-pullquote.is-style-solid-color blockquote .wp-block-pullquote__citation {
  font-size: .875rem;
  font-weight: var(--ignition-font-weight-normal);
}

/* Quote block
=================================== */

.wp-block-quote {
  font-size: 1rem;
  line-height: 1.33;
  position: relative !important;
  padding: 30px 30px 30px 80px;
  border: 0;
  background-color: var(--ignition-colors-grey);
}

.wp-block-quote::before {
  content: "\00201C";
  display: block;
  font-style: normal;
  font-size: 4rem;
  line-height: 0;
  position: absolute;
  left: 30px;
  top: 57px;
}

.wp-block-quote p {
  font-size: 1rem;
  line-height: 1.56;
  font-weight: var(--ignition-font-weight-normal);
}

.wp-block-quote cite {
  font-size: .875rem;
  font-weight: var(--ignition-font-weight-normal);
}

.wp-block-quote.is-style-large {
  padding: 30px 30px 30px 80px;
}

.wp-block-quote.is-style-large::before {
  content: "\00201C";
  display: block;
}

.wp-block-quote.is-style-large p {
  font-size: 20px;
}

.wp-block-quote.has-text-align-center {
  padding: 30px;
}

.wp-block-quote.has-text-align-center::before {
  display: block;
  position: static;
  margin-top: 30px;
  margin-bottom: 15px;
}

.wp-block-quote.has-text-align-right {
  padding: 30px 80px 30px 30px;
}

.wp-block-quote.has-text-align-right::before {
  left: auto;
  right: 30px;
  top: 30px;
  transform: rotate(180deg);
}

/* Global Widget Block Styles
=================================== */

.wp-block-rss li a,
.wp-block-archives li a,
.wp-block-categories li a {
  color: var(--ignition-text-color);
}

/* Tags
=================================== */

.tag-cloud-link {
  color: var(--ignition-text-color);
}

/* Search Widget Block
=================================== */

.wp-block-search .wp-block-search__button {
  background: var(--ignition-primary-color);
  color: var(--ignition-colors-white);
}

/* Latest Posts block
=================================== */

.wp-block-latest-posts .wp-block-latest-posts__featured-image img {
  border-radius: var(--ignition-medi-border-radius-base);
}

.wp-block-latest-posts > li > a {
  color: var(--ignition-text-color);
}

.wp-block-latest-posts > li > a:hover {
  color: var(--ignition-primary-color);
}

/* File Block
=================================== */

.wp-block-file__content-wrapper .wp-block-file__button {
  background-color: var(--ignition-primary-color);
  color: var(--ignition-colors-white);
}

/* Image block
=================================== */

.wp-block-image img {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Gallery block
=================================== */

.wp-block-gallery img {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Media & Text block
=================================== */

.wp-block-media-text .wp-block-media-text__media {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Video block
=================================== */

.wp-block-video video {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Embeds block
=================================== */

.wp-block-embed iframe {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Table block
=================================== */

.wp-block-table.is-style-ignition-medi-table {
  border: 0;
}

.wp-block-table.is-style-ignition-medi-table thead {
  color: var(--ignition-colors-white);
}

.wp-block-table.is-style-ignition-medi-table thead th:first-child {
  border-top-left-radius: var(--ignition-medi-border-radius-base);
}

.wp-block-table.is-style-ignition-medi-table thead th:last-child {
  border-top-right-radius: var(--ignition-medi-border-radius-base);
}

.wp-block-table.is-style-ignition-medi-table tbody tr:nth-child(odd) {
  background: none;
}

.wp-block-table.is-style-ignition-medi-table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

.wp-block-table.is-style-ignition-medi-table .has-background thead {
  background: rgba(0, 0, 0, 0.05);
}

.wp-block-table.is-style-ignition-medi-table .has-background tfoot {
  background: none;
}

.wp-block-table.is-style-ignition-medi-table .has-background tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.03);
}

/* -----------------------------------------
  Gutenbee Plugin Blocks
----------------------------------------- */

/* Post Types block
=================================== */

.entry-item-title + .entry-meta,
.entry-item-title + .entry-item-excerpt {
  margin-top: -30px;
}

.woocommerce-loop-product__link + .price {
  margin-top: -30px;
}

.btn,
.button,
.ci-item-filter {
  border-radius: var(--ignition-medi-border-radius-base);
  letter-spacing: var(--ignition-medi-letter-spacing-base);
  padding: 8px 30px;
  font-size: 14px;
}

.nav-links a,
.nav-links span {
  border-radius: var(--ignition-medi-border-radius-base);
  padding: 8px 18px;
  font-size: 14px;
}

/* Image block
=================================== */

.wp-block-gutenbee-image img {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Image Box block
=================================== */

.wp-block-gutenbee-imagebox img {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Gallery block
=================================== */

.wp-block-gutenbee-justified-gallery img {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Video block
=================================== */

.wp-block-gutenbee-video video {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Slideshow block
=================================== */

.wp-block-gutenbee-slideshow {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* -----------------------------------------
  WooCommerce Blocks
----------------------------------------- */

/* Featured Category Block
========================================= */

.wc-block-featured-category {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* Featured Product Block
========================================= */

.wc-block-featured-product {
  border-radius: var(--ignition-medi-border-radius-base);
}

/* WooCommerce - Product Listings
=================================== */

.wc-block-grid__products .wc-block-grid__product img {
  border-radius: var(--ignition-medi-border-radius-base);
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-link:hover {
  color: var(--ignition-primary-color);
}

.wc-block-grid__products .wc-block-grid__product .button,
.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-add-to-cart .wp-block-button__link {
  font-size: 14px;
  padding: 8px 18px;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: var(--ignition-medi-letter-spacing-base);
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title a {
  color: var(--ignition-text-color);
}

.wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title a:hover {
  color: var(--ignition-primary-color);
}

.wc-block-pagination .wc-block-pagination-page {
  border-color: 2px solid var(--ignition-border-color);
  color: var(--ignition-text-color);
  border-radius: var(--ignition-medi-border-radius-base);
}

.wc-block-pagination .wc-block-pagination-page.wc-block-pagination-page--active,
.wc-block-pagination .wc-block-pagination-page:hover {
  color: var(--ignition-colors-white);
}

/* Reviews block
========================================= */

.wc-block-review-list img {
  border-radius: var(--ignition-medi-border-radius-base);
}

.wc-block-review-list .wc-block-review-list-item__published-date {
  color: var(--ignition-text-color-light);
}

.wc-block-review-list .wc-block-review-list-item__product a {
  color: var(--ignition-text-color);
}

/* Product Categories block
========================================= */

.wc-block-product-categories-list li a {
  color: var(--ignition-text-color);
}

.wc-block-product-categories .wc-block-product-categories__button {
  border-color: var(--ignition-border-color);
}

/* Attribute Filters block
========================================= */

.wc-block-attribute-filter .wc-block-attribute-filter-list [type="checkbox"]:checked + label {
  color: var(--ignition-primary-color);
}

.wc-block-attribute-filter .wc-block-attribute-filter-list label {
  color: var(--ignition-text-color);
}

/* Active Filters block
========================================= */

.wc-block-active-filters .wc-block-active-filters__list.wc-block-active-filters__list--chips li.wc-block-active-filters__list-item {
  color: var(--ignition-text-color);
}

/* Filter by Price block
========================================= */

.wc-block-price-filter .wc-block-price-filter__range-input-wrapper .wc-block-price-filter__range-input-progress {
  --range-color: var(--ignition-border-color);
}

/* Sort Select Element block
========================================= */

.wc-block-sort-select .wc-block-sort-select__select {
  color: var(--ignition-text-color);
}

@media (max-width: 767px) {
  .entry-list-meta {
    flex-wrap: wrap;
    padding: 10px;
  }

  .entry-list-meta-item {
    width: 100%;
  }
}