/* -----------------------------------------
Block editor styles
----------------------------------------- */

@import "../inc/theme-variables";
@import "../inc/mixins/breakpoints";
@import "../inc/archives";
@import "../inc/colors";

/* -----------------------------------------
  WordPress Blocks styles
----------------------------------------- */

/* Button Block
=================================== */
.gutenbee-block-button-link,
.wp-block-button__link {
	border-radius: var(--ignition-medi-border-radius-base);
	font-size: 14px;
}

.gutenbee-block-button-link,
.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]):hover,
.wp-block-button__link {
	background-color: var(--ignition-buttons-background-color);
	color: var(--ignition-buttons-text-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]),
.gutenbee-block-button-link {
	border-color: var(--ignition-buttons-background-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]) {
	color: var(--ignition-buttons-background-color);
}

/* Paragraph Block
=================================== */
.has-drop-cap:not(:focus) {
	&::first-letter {
		padding: 0 .55rem 0 0;
		font-size: 3.4rem;
		line-height: .9;
	}
}

/* Separator Block
=================================== */
.wp-block-separator {
	background-color: var(--ignition-border-color);
}

/* Pullquote Block
=================================== */
.wp-block-pullquote {
	border-top: 1px solid;
	border-bottom: 1px solid;

	&.is-style-solid-color {
		font-size: 1rem;
		line-height: 1.33;
		position: relative;
		padding: 30px 30px 30px 80px;
		border: 0;

		&::before {
			content: "\00201C";
			font-style: normal;
			font-size: 4rem;
			line-height: 0;
			position: absolute;
			left: 30px;
			top: 57px;
		}

		blockquote {
			margin: 0;
			max-width: 100%;

			p {
				font-size: 1rem;
				line-height: 1.56;
				font-weight: var(--ignition-font-weight-normal);
			}

			.wp-block-pullquote__citation {
				font-size: .875rem;
				font-weight: var(--ignition-font-weight-normal);
			}
		}
	}
}

/* Quote block
=================================== */
.wp-block-quote {
	font-size: 1rem;
	line-height: 1.33;
	position: relative !important;
	padding: 30px 30px 30px 80px;
	border: 0;
	background-color: var(--ignition-colors-grey);

	&::before {
		content: "\00201C";
		display: block;
		font-style: normal;
		font-size: 4rem;
		line-height: 0;
		position: absolute;
		left: 30px;
		top: 57px;
	}

	p {
		font-size: 1rem;
		line-height: 1.56;
		font-weight: var(--ignition-font-weight-normal);
	}

	cite {
		font-size: .875rem;
		font-weight: var(--ignition-font-weight-normal);
	}

	&.is-style-large {
		padding: 30px 30px 30px 80px;

		&::before {
			content: "\00201C";
			display: block;
		}

		p {
			font-size: 20px;
		}
	}

	&.has-text-align-center {
		padding: 30px;

		&::before {
			display: block;
			position: static;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}

	&.has-text-align-right {
		padding: 30px 80px 30px 30px;

		&::before {
			left: auto;
			right: 30px;
			top: 30px;
			transform: rotate(180deg);
		}
	}
}

/* Global Widget Block Styles
=================================== */
.wp-block-rss,
.wp-block-archives,
.wp-block-categories {
	li {
		a {
			color: var(--ignition-text-color);
		}
	}
}

/* Tags
=================================== */
.tag-cloud-link {
	color: var(--ignition-text-color);
}

/* Search Widget Block
=================================== */
.wp-block-search {
	.wp-block-search__button {
		background: var(--ignition-primary-color);
		color: var(--ignition-colors-white);
	}
}

/* Latest Posts block
=================================== */
.wp-block-latest-posts {
	.wp-block-latest-posts__featured-image {
		img {
			border-radius: var(--ignition-medi-border-radius-base);
		}
	}

	> li {
		> a {
			color: var(--ignition-text-color);

			&:hover {
				color: var(--ignition-primary-color);
			}
		}
	}
}

/* File Block
=================================== */
.wp-block-file__content-wrapper {
	.wp-block-file__button {
		background-color: var(--ignition-primary-color);
		color: var(--ignition-colors-white);
	}
}

/* Image block
=================================== */
.wp-block-image {
	img {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Gallery block
=================================== */
.wp-block-gallery {
	img {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Media & Text block
=================================== */
.wp-block-media-text {
	.wp-block-media-text__media {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Video block
=================================== */
.wp-block-video {
	video {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Embeds block
=================================== */
.wp-block-embed {
	iframe {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}


/* Table block
=================================== */
.wp-block-table {
	&.is-style-ignition-medi-table {
		border: 0;

		thead {
			color: var(--ignition-colors-white);

			th {
				&:first-child {
					border-top-left-radius: var(--ignition-medi-border-radius-base);
				}

				&:last-child {
					border-top-right-radius: var(--ignition-medi-border-radius-base);
				}
			}
		}

		tbody {
			tr {
				&:nth-child(odd) {
					background: none;
				}

				&:nth-child(even) {
					background-color: lighten(#f1f1f1, 2.2%);
				}
			}
		}

		.has-background {
			thead {
				background: rgba(#000, 0.05);
			}

			tfoot {
				background: none;
			}

			tbody {
				tr {
					&:nth-child(even) {
						background-color: rgba(#000, 0.03);
					}
				}
			}
		}
	}
}

/* -----------------------------------------
  Gutenbee Plugin Blocks
----------------------------------------- */

/* Post Types block
=================================== */
.entry-item-title {
	+ .entry-meta,
	+ .entry-item-excerpt {
		margin-top: -30px;
	}
}

.woocommerce-loop-product__link {
	+ .price {
		margin-top: -30px;
	}
}

.btn,
.button,
.ci-item-filter {
	border-radius: var(--ignition-medi-border-radius-base);
	letter-spacing: var(--ignition-medi-letter-spacing-base);
	padding: 8px 30px;
	font-size: 14px;
}

.nav-links {
	a,
	span {
		border-radius: var(--ignition-medi-border-radius-base);
		padding: 8px 18px;
		font-size: 14px;
	}
}

/* Image block
=================================== */
.wp-block-gutenbee-image {
	img {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Image Box block
=================================== */
.wp-block-gutenbee-imagebox {
	img {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Gallery block
=================================== */
.wp-block-gutenbee-justified-gallery {
	img {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Video block
=================================== */
.wp-block-gutenbee-video {
	video {
		border-radius: var(--ignition-medi-border-radius-base);
	}
}

/* Slideshow block
=================================== */
.wp-block-gutenbee-slideshow {
	border-radius: var(--ignition-medi-border-radius-base);;
}

/* -----------------------------------------
  WooCommerce Blocks
----------------------------------------- */

/* Featured Category Block
========================================= */
.wc-block-featured-category {
	border-radius: var(--ignition-medi-border-radius-base);
}

/* Featured Product Block
========================================= */
.wc-block-featured-product {
	border-radius: var(--ignition-medi-border-radius-base);
}

/* WooCommerce - Product Listings
=================================== */
.wc-block-grid__products {
	.wc-block-grid__product {
		img {
			border-radius: var(--ignition-medi-border-radius-base);
		}

		.wc-block-grid__product-link {
			&:hover {
				color: var(--ignition-primary-color);
			}
		}

		.button,
		.wc-block-grid__product-add-to-cart .wp-block-button__link {
			font-size: 14px;
			padding: 8px 18px;
		}

		.wc-block-grid__product-title {
			font-size: 18px;
			line-height: 1.25;
			letter-spacing: var(--ignition-medi-letter-spacing-base);

			a {
				color: var(--ignition-text-color);

				&:hover {
					color: var(--ignition-primary-color);
				}
			}
		}
	}
}

// Pagination
.wc-block-pagination {
	.wc-block-pagination-page {
		border-color: 2px solid var(--ignition-border-color);
		color: var(--ignition-text-color);
		border-radius: var(--ignition-medi-border-radius-base);

		&.wc-block-pagination-page--active,
		&:hover {
			color: var(--ignition-colors-white);
		}
	}
}

/* Reviews block
========================================= */
.wc-block-review-list {
	img {
		border-radius: var(--ignition-medi-border-radius-base);
	}

	.wc-block-review-list-item__published-date {
		color: var(--ignition-text-color-light);
	}

	.wc-block-review-list-item__product {
		a {
			color: var(--ignition-text-color);
		}
	}
}

/* Product Categories block
========================================= */
.wc-block-product-categories-list {
	li {
		a {
			color: var(--ignition-text-color);
		}
	}
}

.wc-block-product-categories {
	.wc-block-product-categories__button {
		border-color: var(--ignition-border-color);
	}
}

/* Attribute Filters block
========================================= */
.wc-block-attribute-filter {
	.wc-block-attribute-filter-list {
		[type="checkbox"] {
			&:checked + label {
				color: var(--ignition-primary-color);
			}
		}

		label {
			color: var(--ignition-text-color);
		}
	}
}

/* Active Filters block
========================================= */
.wc-block-active-filters {
	.wc-block-active-filters__list.wc-block-active-filters__list--chips {
		li.wc-block-active-filters__list-item {
			color: var(--ignition-text-color);
		}
	}
}

/* Filter by Price block
========================================= */
.wc-block-price-filter {
	.wc-block-price-filter__range-input-wrapper {
		.wc-block-price-filter__range-input-progress {
			--range-color: var(--ignition-border-color);
		}
	}
}

/* Sort Select Element block
========================================= */
.wc-block-sort-select {
	.wc-block-sort-select__select {
		color: var(--ignition-text-color);
	}
}
