/* -----------------------------------------
 Footer
----------------------------------------- */

.footer-info {
	border-top: 1px solid;
	font-size: 11px;

	a:hover {
		color: currentColor;
		text-decoration: none;
	}
}
