:root,
.block-editor__typewriter{
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.8;
  color: #444444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.block-editor-block-list__block{
  margin-top: 20px;
  margin-bottom: 20px;
}
.block-core-columns p.block-editor-block-list__block{
  margin-top: 0;
  margin-bottom: 0;
}
.wp-block-pullquote.alignleft,
.blocks-gallery-grid.alignleft,
.wp-block-gallery.alignleft{
  margin-right: 1.5em;
}
.wp-block-pullquote.alignright,
.blocks-gallery-grid.alignright,
.wp-block-gallery.alignright{
  margin-left: 1.5em;
}
.blocks-gallery-grid.blocks-gallery-grid{
  margin-top: 0;
}
.mce-content-body{
  line-height: inherit;
}
.editor-post-title__input{
  font-weight: 700;
  font-family: "Rufina";
  font-size: 36px;
  color: #212121;
}
.wp-block{
  max-width: 800px;
}
.wp-block[data-align=wide]{
  max-width: 1170px;
}
.wp-block[data-align=full]{
  max-width: none;
}
p{
  margin-bottom: 20px;
}
p:last-child{
  margin-bottom: 0;
}
.wp-block-freeform a,
a{
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  color: #212121;
  line-height: 1.2;
  font-family: "Rufina";
}
h1{
  font-size: 36px
}
h2{
  font-size: 32px
}
h3{
  font-size: 28px
}
h4{
  font-size: 24px
}
h5{
  font-size: 22px
}
h6{
  font-size: 20px
}
.wp-block .wp-block-image{
  margin-bottom: 1em;
}
.wp-block-freeform blockquote{
  margin-bottom: 15px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2.618em
}
table th,
table td{
  padding: 10px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #e9e9e9;
  font-weight: normal;
}
.mce-content-body ol,
.mce-content-body ul{
  padding-left: 0;
  margin-left: 20px;
}
.mce-content-body li ol,
.mce-content-body li ul{
  margin-left: 25px;
}
.wp-block-freeform li{
  margin-bottom: 8px;
}
.wp-block-freeform li ol,
.wp-block-freeform li ul{
  margin-top: 8px;
}
.wp-block-freeform pre,
.wp-block-freeform code{
  color: #2080ad;
  font-family: monaco, monospace;
}
ul,
ol{
  margin: 15px 0 15px 20px;
}
ul li,
ol li{
  margin-bottom: 8px;
}
ol{
  list-style-type: decimal;
}
ol ol{
  list-style: upper-alpha;
}
ol ol ol{
  list-style: lower-roman;
}
ol ol ol ol{
  list-style: lower-alpha;
}
ul ul ul{
  list-style: square;
}
li ul,
li ol{
  margin: 8px 0 0 25px;
  padding: 0;
}
dl{
  margin: 0;
}
dt{
  font-weight: 700;
}
dd{
  margin-left: 0;
  margin-bottom: 20px;
}
address{
  margin-bottom: 20px;
}
address br{
  display: block;
  content: "";
  padding-top: 5px;
}
.wp-caption-dd{
  font-size: 14px;
  font-style: italic;
  color: #999;
}
.wp-block-freeform .wp-caption{
  margin-bottom: 24px;
}
.wp-block-freeform dl.wp-caption.alignleft,
.wp-block-freeform .alignleft{
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.wp-block-freeform dl.wp-caption.alignright,
.wp-block-freeform .alignright{
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption.alignnone,
.wp-block-freeform .alignnone{
  margin-bottom: 1em;
}
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption.aligncenter,
.wp-block-freeform .aligncenter{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 1em;
}
.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption a{
  display: inline-block;
}
.wp-block-button__link br{
  display: none;
}
.wp-block[data-align=center] > .wp-block-button{
  margin-left: 0;
  margin-right: 0;
}
.wp-block-button{
  width: 100%;
  margin-top: 0;
}
.wp-block[data-align=left] .wp-block-button,
.wp-block[data-align=right] .wp-block-button{
  width: auto;
}
.wp-block-cover{
  margin-top: 0;
}
.wp-block-cover .rich-text{
  font-size: 2em;
  line-height: 1.25;
  z-index: 1;
  margin-bottom: 0;
  max-width: 580px;
  padding: 14px;
  text-align: center;
}
.wp-block-cover .rich-text[style*="36px"]{
  font-size: 32px !important;
}
ol.wp-block-latest-comments,
ul.wp-block-rss,
.wp-block-categories ul,
ul.wp-block-archives,
ul.wp-block-latest-posts{
  padding-left: 0;
}
ul.wp-block-latest-posts.is-grid,
ul.wp-block-latest-posts{
  margin-left: auto;
  margin-right: auto;
}
ul.wp-block-latest-posts.is-grid li{
  margin-bottom: 8px;
}
.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-large .wp-block-quote__citation{
  font-size: 18px;
}
.wp-block[data-type="core/heading"]{
  margin-top: 0;
}
.wp-block-pullquote .wp-block-pullquote__citation{
  margin-top: 1em;
}
.wp-block-pullquote{
  margin-top: 0;
}
.wp-block-pullquote blockquote{
  margin-top: 0;
  margin-bottom: 0;
}
[data-type="core/separator"]{
  clear: both;
}
.wp-block[data-align=left] > .wp-block-button,
.wp-block[data-align=left] > .wp-block-cover{
  margin-right: 1.5em;
}
.wp-block[data-align=right] > .wp-block-button,
.wp-block[data-align=right] > .wp-block-cover{
  margin-left: 1.5em;
}
.wp-block-latest-comments li.wp-block-latest-comments__comment{
  margin-bottom: 1.5em;
}
.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}
.wp-block-button .wp-block-button__link{
  font-size: 1em;
}
.wp-block-button__link:hover {
  background-color: #FF7979;
}
.wp-block-button.is-style-squared .wp-block-button__link {
  border-radius: 0;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover{
  border-color: #FF7979;
  color: #FF7979;
}