.etheme-wid-con .etheme-mailChimpForm .etheme_input_label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_group {
  margin: 0;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_control {
  display: block;
  width: 100%;
  height: auto;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.etheme-wid-con .etheme-mailChimpForm .etheme_form_control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.etheme-wid-con .etheme-mail-submit {
  position: relative;
  z-index: 1;
  font-size: 16px;
  padding: 15px 40px 15px 40px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  color: #ffffff;
  background-color: #374a5e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  width: 100%;
  line-height: 26px;
}
.etheme-wid-con .etheme-mail-submit svg {
  max-width: 16px;
  height: auto;
  vertical-align: middle;
}
.etheme-wid-con .etheme-mail-submit:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
  opacity: 0;
  background-size: 101% 101%;
  border-radius: inherit;
}
.etheme-wid-con .etheme-mail-submit:hover:before {
  opacity: 1;
}
.etheme-wid-con .etheme_input_group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.etheme-wid-con .etheme_input_group .etheme_form_control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
}
.etheme-wid-con .etheme_input_group .etheme_form_control.etheme_append_input {
  border-radius: 5px 0px 0px 5px;
}
.etheme-wid-con .etheme_input_group_prepend {
  margin-right: -1px;
}
.etheme-wid-con .etheme_inline_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.etheme-wid-con .etheme_inline_form .etheme_input_wraper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.etheme-wid-con .etheme_inline_form .etheme-mail-submit {
  width: 100%;
}
.etheme-wid-con .etheme-mail-submit {
  padding: 11.5px 40px;
}
.etheme-wid-con .etheme-mail-message {
  display: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.etheme-wid-con .etheme-mail-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
.etheme-wid-con .etheme-mail-message.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}
.etheme-wid-con .elementor-inline-items .elementor-icon-list-item {
  display: inline-block;
}
.etheme-wid-con .etheme_input_group_prepend + .etheme_form_control {
  border-radius: 0px 5px 5px 0px;
}
.etheme-wid-con .etheme-mail-message {
  display: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.etheme-wid-con .etheme-mail-message.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}
.etheme-wid-con .etheme_inline_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.etheme-wid-con .etheme_inline_form .etheme_submit_input_holder {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.etheme-wid-con .etheme_input_group_append .etheme_input_group_text {
  border-radius: 0px 5px 5px 0px;
  margin-left: -1px;
}
.etheme-wid-con .etheme_input_group_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  height: 100%;
  padding: 15px;
  border-radius: 5px 0 0 5px;
}
.etheme-wid-con .etheme_input_group_text svg {
  max-width: 20px;
  height: auto;
  vertical-align: middle;
}
.etheme-wid-con .etheme_inline_form .etheme_form_group {
  margin-bottom: 0px;
}
.etheme-wid-con .elementskit_input_group .etheme_form_control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
}
.etheme-wid-con .elementskit_input_group .etheme_form_control.etheme_append_input {
  border-radius: 5px 0px 0px 5px;
}
