.ignition-neto-onboarding-wrap {
  font-size: 16px;
  line-height: 1.3125;
  color: #131313;
  margin: 0 0 0 -20px;
  max-width: 1205px;
  -webkit-font-smoothing: antialiased;
}

.ignition-neto-onboarding-wrap p {
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 20px;
}

.ignition-neto-onboarding-header {
  display: flex;
  align-items: center;
  padding: 30px;
  background: #145474;
  color: #fff;
}

.ignition-neto-onboarding-header-title {
  color: #fff;
  margin: 0;
  font-weight: normal;
  font-size: 28px;
}

.ignition-neto-onboarding-header-logo {
  margin-left: auto;
  padding-left: 30px;
}

.ignition-neto-onboarding-header-meta a {
  color: #FFCC00;
  text-decoration: none;
  font-weight: bold;
}

.ignition-neto-onboarding-header-meta a:hover {
  text-decoration: underline;
}

.ignition-neto-onboarding-header-meta-item::after {
  content: "\2013";
  display: inline-block;
  margin: 0 3px;
}

.ignition-neto-onboarding-header-meta-item:last-of-type::after {
  display: none;
}

.ignition-neto-onboarding-header-meta-item-separator {
  opacity: .5;
  display: inline-block;
  margin: 0 3px;
  font-weight: bold;
}

.ignition-neto-onboarding-main-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0 30px;
}

.appearance_page_ignition-starter-link-onboard .notice {
  display: none;
}

.appearance_page_ignition-starter-link-onboard .ignition-neto-onboarding-main-wrap .notice {
  display: block;
}

.ignition-neto-onboarding-wp-notices {
  width: 100%;
  flex-basis: 100%;
}

.ignition-neto-onboarding-wp-notices:empty {
  display: none;
}

.ignition-neto-onboarding-wp-notices .ignition-neto-onboarding-notice {
  padding: 15px 0;
}

.ignition-neto-onboarding-wp-notices .notice {
  margin: 0 0 30px;
}

.ignition-neto-onboarding-wp-notices .notice :last-child {
  margin-bottom: 0;
}

.ignition-neto-onboarding-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.ignition-neto-onboarding-main-content-nav-header {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
}

.ignition-neto-onboarding-main-content-nav-link {
  color: #131313;
  text-decoration: none;
  font-weight: bold;
  padding: 21px 20px;
}

.ignition-neto-onboarding-main-content-nav-link.is-active {
  background-color: #fff;
}

.ignition-neto-onboarding-main-content-nav-link:hover {
  color: #145474;
}

.ignition-neto-onboarding-main-content {
  background-color: #fff;
  padding: 20px;
  flex: auto;
}

.ignition-neto-onboarding-main-content > :last-child {
  margin-bottom: 0;
}

.ignition-neto-onboarding-main-sidebar {
  width: 320px;
  flex: none;
}

.ignition-neto-onboarding-widget {
  padding: 20px;
  margin-bottom: 30px;
  background: #fff;
  border: 1px solid #d5d5d5;
}

.ignition-neto-onboarding-widget:last-child,
.ignition-neto-onboarding-widget > :last-child {
  margin-bottom: 0;
}

.ignition-neto-onboarding-widget .button {
  padding: 2px 12px;
  font-size: 0.875em;
}

.ignition-neto-onboarding-widget-title {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 16px;
}

.ignition-neto-onboarding-item {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(213, 213, 213, 0.4);
  border-left: solid 4px #fff;
  padding: 15px;
  margin: 0 0 30px;
  display: flex;
  flex-direction: column;
}

.ignition-neto-onboarding-item > :last-child {
  margin-bottom: 0;
  margin-top: auto;
}

.ignition-neto-onboarding-item .ignition-neto-onboarding-item-title {
  margin: 0 0 5px 0;
}

.ignition-neto-onboarding-item .ignition-neto-onboarding-item-description {
  font-size: 14px;
}

.ignition-neto-onboarding-item .ignition-neto-onboarding-item-meta > :last-child {
  margin-bottom: 0;
}

.ignition-neto-onboarding-variations {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px;
}

.ignition-neto-variation {
  width: calc(33.3333% - 10px);
  box-sizing: border-box;
  margin: 0 5px 10px;
}

.ignition-neto-variation > :last-child {
  margin-bottom: 0;
}

.ignition-neto-variation .activate-variation {
  display: inline-block;
}

.ignition-neto-variation.enabled {
  border-left: solid 4px green;
}

.ignition-neto-variation.enabled .activate-variation {
  display: none;
}

.ignition-neto-variation-thumb {
  margin: 0 0 15px;
}

.ignition-neto-variation-thumb img {
  max-width: 100%;
}

.ignition-neto-onboarding-item-warning {
  border-left: solid 4px red;
}

.ignition-neto-onboarding-item-info {
  border-left: solid 4px orange;
}

.ignition-neto-onboarding-item-success {
  border-left: solid 4px green;
}

.latest-backup-info {
  font-size: 0.9rem;
  padding: 5px 7px;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 1px solid #efefef;
  display: inline-block;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .ignition-neto-onboarding-header {
    padding: 20px;
  }

  .ignition-neto-onboarding-header-meta-item {
    display: block;
  }

  .ignition-neto-onboarding-header-meta-item::after {
    display: none;
  }

  .ignition-neto-onboarding-main-wrap {
    flex-direction: column;
    margin: 20px;
  }

  .ignition-neto-onboarding-main {
    margin: 0 0 20px;
  }

  .ignition-neto-onboarding-main-sidebar {
    width: 100%;
  }
}

@media (max-width: 782px) {
  .ignition-neto-onboarding-wrap {
    margin-left: -10px;
    font-size: 14px;
  }

  .wp-responsive-open .ignition-neto-onboarding-wrap {
    margin-left: -28px;
  }

  .ignition-neto-onboarding-header {
    flex-direction: column;
  }

  .ignition-neto-onboarding-header-logo {
    margin: 0 0 10px;
    padding: 0;
    order: -1;
    text-align: left;
    width: 100%;
  }

  .ignition-neto-onboarding-header-logo img {
    width: 126px;
  }

  .ignition-neto-onboarding-header-details {
    width: 100%;
  }

  .ignition-neto-onboarding-header-title {
    font-size: 24px;
  }

  .ignition-neto-onboarding-header-meta-item-separator {
    display: none;
  }

  .ignition-neto-onboarding-header-meta-item-links-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px -2px 0;
  }

  .ignition-neto-onboarding-header-meta-item-links-wrap > a {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 5px;
    flex: 1;
    margin: 0 2px;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
  }

  .ignition-neto-onboarding-header-meta-item {
    margin-top: 5px;
  }

  .ignition-neto-onboarding-widget {
    margin-bottom: 20px;
  }

  .ignition-neto-onboarding-widget:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 665px) {
  .ignition-neto-variation {
    width: 100%;
  }
}