/* -----------------------------------------
Block editor styles
----------------------------------------- */

@import "../inc/theme-variables";
@import "../inc/mixins/mixins";
@import "../inc/archives";
@import "../inc/colors";

/* -----------------------------------------
  WordPress Blocks styles
----------------------------------------- */

/* Button Block
=================================== */

/* Button Block
=================================== */
.gutenbee-block-button-link,
.wp-block-button__link,
.btn {
	border-radius: var(--ignition-nozama-border-radius-base);
	font-size: 16px;
}

.gutenbee-block-button-link,
.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]):hover,
.wp-block-button__link {
	background-color: var(--ignition-buttons-background-color);
	color: var(--ignition-buttons-text-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]),
.gutenbee-block-button-link {
	border-color: var(--ignition-buttons-background-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]) {
	color: var(--ignition-buttons-background-color);
}

/* Paragraph Block
=================================== */
.has-drop-cap:not(:focus) {
	&::first-letter {
		padding: .8rem .2rem .15rem 0;
		font-size: 3.4rem !important;
		line-height: .65;
	}
}

/* Separator Block
=================================== */
.wp-block-separator {
	background-color: var(--ignition-border-color);
}

/* Pullquote Block
=================================== */
.wp-block-pullquote {
	border-top: 1px solid;
	border-bottom: 1px solid;

	&.is-style-solid-color {
		font-size: 1rem;
		line-height: 1.33;
		position: relative;
		padding: 30px 30px 30px 80px;
		border: 0;

		&::before {
			content: "\00201C";
			font-style: normal;
			font-size: 4rem;
			line-height: 0;
			position: absolute;
			left: 30px;
			top: 57px;
		}

		blockquote {
			margin: 0;
			max-width: 100%;

			p {
				font-size: 1rem;
				line-height: 1.56;
				font-weight: var(--ignition-font-weight-normal);
			}

			.wp-block-pullquote__citation {
				font-size: .875rem;
				font-weight: var(--ignition-font-weight-normal);
			}
		}
	}
}

/* Quote block
=================================== */
.wp-block-quote {
	font-size: 1rem;
	line-height: 1.33;
	position: relative !important;
	padding: 0 0 0 50px;
	border: 0;

	&::before {
		content: "\00201C";
		display: block;
		font-style: normal;
		font-size: 4rem;
		line-height: 0;
		position: absolute;
		left: 0;
		top: 33px;
	}

	p {
		font-size: 1rem;
		line-height: 1.56;
		font-weight: var(--ignition-font-weight-normal);
	}

	cite {
		font-size: .875rem;
		font-weight: var(--ignition-font-weight-normal);
	}

	&.is-style-large {
		padding: 0 0 0 50px;

		&::before {
			content: "\00201C";
			display: block;
		}

		p {
			font-size: 24px;
		}
	}

	&.has-text-align-center {
		padding: 0;

		&::before {
			display: block;
			position: static;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}

	&.has-text-align-right {
		padding: 0 50px 0 0;

		&::before {
			left: auto;
			right: 0;
			top: -5px;
			transform: rotate(180deg);
		}
	}
}

/* Global Widget Block Styles
=================================== */
.wp-block-rss,
.wp-block-archives,
.wp-block-categories {
	li {
		a {
			color: var(--ignition-text-color);
		}
	}
}

/* Tags
=================================== */
.tag-cloud-link {
	color: var(--ignition-text-color);
}

/* Search Widget Block
=================================== */
.wp-block-search {
	.wp-block-search__button {
		background: var(--ignition-primary-color);
		color: var(--ignition-colors-white);
	}
}

/* Latest Posts block
=================================== */
.wp-block-latest-posts {
	> li {
		> a {
			color: var(--ignition-text-color);

			&:hover {
				color: var(--ignition-primary-color);
			}
		}
	}
}

/* File Block
=================================== */
.wp-block-file__content-wrapper {
	.wp-block-file__button {
		font-size: 14px;
		background-color: var(--ignition-primary-color);
		color: var(--ignition-colors-white);
	}
}

/* -----------------------------------------
  Gutenbee Plugin Blocks
----------------------------------------- */

/* Banner block
========================================= */
.wp-block-gutenbee-banner {
	[data-type*="gutenbee"] {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.block-editor-block-list__layout {
		> [data-type*="gutenbee"]:last-of-type {
			margin-bottom: 0;
		}
	}
}

/* Post Types - Products
========================================= */
.entry-item-product {
	text-align: left;
	margin-bottom: 30px;

	img {
		margin-bottom: 15px;
	}

	.woocommerce-loop-product__link {
		padding: 15px;
		display: flex;
		flex-direction: column;
		min-height: 0;
	}

	.onsale {
		top: 10px;
		right: 10px;
		left: auto;
		border-radius: var(--ignition-theme-border-radius-base);
		background-color: var(--ignition-primary-color);
		text-transform: uppercase;
	}

	.woocommerce-loop-category__title,
	.woocommerce-loop-product__title {
		font-size: 16px;
		margin: 0;
	}

	.price {
		font-size: 16px;
		display: block;
		margin: 0;
		color: var(--ignition-theme-colors-crimson);
	}

	.star-rating {
		margin: 10px 0 0;
		order: 10;
		display: block;
	}

	.woocommerce-loop-product__title {
		+ .star-rating {
			margin-top: 10px;
		}
	}

	.button,
	.add_to_cart_button {
		padding: 7px 20px;
		font-size: 14px;
		line-height: normal;
		margin: 0 5px 15px 15px;
	}

	.added_to_cart {
		display: inline-block;
		position: relative;
		top: -5px;
	}

	.entry-item-content {
		padding: 15px;
		text-align: left;

		.woocommerce-loop-product__link {
			padding: 0;
		}

		.price {
			margin-bottom: 15px;
		}

		.button,
		.add_to_cart_button {
			margin: 0;
			border-radius: var(--ignition-theme-border-radius-base);
		}

		.added_to_cart {
			top: 0;
			display: inline-block;
			margin-left: 10px;
		}
	}
}

/* Post Types - Slideshow style
========================================= */
.is-style-ignition-nozama-post-types-slideshow {
	.wc-block-grid__products,
	.row-items {
		opacity: 1 !important;
		flex-wrap: nowrap;
  	overflow-x: scroll;

		[class*=col] {
			height: 100%;
		}
	}
}

/* -----------------------------------------
  WooCommerce Blocks
----------------------------------------- */

/* BLOCK: Product Listings
========================================= */
.wc-block-grid__products {
	li.wc-block-grid__product {
		text-align: left;
		position: relative;
		margin-bottom: 30px;

		> div {
			margin-left: 15px;
			margin-right: 15px;
		}

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border: 1px solid var(--ignition-border-color);
			border-radius: var(--ignition-theme-border-radius-base);
			pointer-events: none;
		}

		.wc-block-grid__product-title {
			font-size: 16px;
			line-height: normal;
			margin: 0 15px;

			a {
				color: currentColor;
			}
		}

		.wc-block-grid__product-onsale {
			top: 10px !important;
			right: 10px !important;
			left: auto !important;
			line-height: normal;
			font-size: 14px;
			padding: 5px 12px;
			text-transform: uppercase;
			border-radius: var(--ignition-theme-border-radius-base);
			background-color: var(--ignition-primary-color);
		}

		.wc-block-grid__product-image {
			padding: 15px;
			margin-bottom: 0;

			.wc-block-grid__product-onsale {
				right: 10px;
			}
		}

		.wc-block-grid__product-rating {
			margin: 10px 0 0 15px;
			display: block;
		}

		.star-rating {
			margin: 0;
		}

		.wc-block-grid__product-add-to-cart {
			margin: 15px 15px 0 15px;

			.wp-block-button__link {
				padding: 7px 20px;
				font-size: 14px;
				border-radius: var(--ignition-theme-border-radius-base);
			}
		}

		.wc-block-grid__product-price {
			font-size: 16px;
			color: var(--ignition-theme-colors-crimson);
			margin: 0 15px;
		}

		> :last-child {
			margin-bottom: 15px;
		}
	}
}

.wc-block-layout .wc-block-components-product-image .wc-block-components-product-sale-badge--alignright {
	right: 10px;
}

.wc-block-pagination {
	background-color: var(--ignition-colors-grey);
	border-radius: var(--ignition-theme-border-radius-base);
	padding: 10px;

	.wc-block-pagination-page {
		font-size: 15px;
		padding: 0;
		border-radius: 0;
		margin: 0;
		border: 0;
		display: inline-block;
	}
}

/* Featured Category Block
========================================= */
.wc-block-featured-category {
	padding: 40px;
	border-radius: var(--ignition-theme-border-radius-base);

	.wc-block-featured-category__title,
	.wc-block-featured-category__description,
	.wc-block-featured-category__link {
		padding-left: 0;
		padding-right: 0;
	}

	.wc-block-featured-category__link,
	.wc-block-featured-category__title {
		padding-top: 0;
		padding-bottom: 0;
	}

	.wc-block-featured-category__description {
		padding-top: 5px;
		max-width: 520px;
		line-height: 1.45;
	}

	.wc-block-featured-category__link {
		margin-top: 15px;
	}

	.wp-block-button {
		margin-top: 0;
	}

	&.has-right-content,
	&.has-left-content {
		.wc-block-featured-category__wrapper {
			flex-direction: column;
			justify-content: flex-end;
		}
	}

	&.has-left-content {
		.wc-block-featured-category__wrapper {
			align-items: flex-start;
		}
	}

	&.has-right-content {
		.wc-block-featured-category__wrapper {
			align-items: flex-end;
		}
	}
}


/* Featured Product Block
========================================= */
.wc-block-featured-product {
	padding: 40px;
	border-radius: var(--ignition-theme-border-radius-base);

	.wc-block-featured-product__title,
	.wc-block-featured-product__description,
	.wc-block-featured-product__price,
	.wc-block-featured-product__link {
		padding-left: 0;
		padding-right: 0;
	}

	.wc-block-featured-product__title {
		padding-top: 0;
	}

	.wc-block-featured-product__description {
		padding-top: 5px;
		line-height: 1.45;
	}

	.wp-block-button {
		margin-top: 0;
	}

	&.has-right-content,
	&.has-left-content {
		.wc-block-featured-product__wrapper {
			flex-direction: column;
			justify-content: flex-end;
		}
	}
}

/* Reviews block
========================================= */
.wc-block-review-list {
	.wc-block-review-list-item__published-date {
		color: var(--ignition-secondary-text-color);
	}

	.wc-block-review-list-item__product {
		a {
			color: var(--ignition-text-color);
		}
	}
}

/* Product Categories block
========================================= */
.wc-block-product-categories-list {
	li {
		a {
			color: var(--ignition-text-color);
		}
	}
}

.wc-block-product-categories {
	.wc-block-product-categories__button {
		border-color: var(--ignition-border-color);
	}
}

/* Attribute Filters block
========================================= */
.wc-block-attribute-filter {
	.wc-block-attribute-filter-list {
		[type="checkbox"] {
			&:checked + label {
				color: var(--ignition-primary-color);
			}
		}

		label {
			color: var(--ignition-text-color);
		}
	}
}

/* Active Filters block
========================================= */
.wc-block-active-filters {
	.wc-block-active-filters__list.wc-block-active-filters__list--chips {
		li.wc-block-active-filters__list-item {
			color: var(--ignition-text-color);
		}
	}
}

/* Filter by Price block
========================================= */
.wc-block-price-filter {
	.wc-block-price-filter__range-input-wrapper {
		.wc-block-price-filter__range-input-progress {
			--range-color: var(--ignition-border-color);
		}
	}
}

/* Sort Select Element block
========================================= */
.wc-block-sort-select {
	font-size: 14px;

	.wc-block-sort-select__select {
		color: var(--ignition-text-color);
	}
}

/* Search block
========================================= */
.wc-block-product-search__label {
	font-size: 18px;
	margin-bottom: 15px;
}

/* Filter by Price block
========================================= */
.wc-block-price-filter {
	h3 {
		font-size: 18px;
	}

	.wc-block-price-filter__range-input-wrapper {
		.wc-block-price-filter__range-input-progress {
			--range-color: var(--ignition-border-color);
		}
	}
}
