/* -----------------------------------------
Block editor styles
----------------------------------------- */

@import "../inc/theme-variables";
@import "../inc/mixins/mixins";
@import "../inc/mixins/breakpoints";
@import "../inc/archives";
@import "../inc/colors";

/* -----------------------------------------
  WordPress Blocks styles
----------------------------------------- */

/* Button Block
=================================== */
.btn,
.gutenbee-block-button-link,
.wp-block-button__link {
	line-height: 1.3;
	padding: 12px 32px;
	text-transform: uppercase;
	letter-spacing: var(--ignition-milos-letter-spacing-base);
	border-radius: 30px;
	font-size: 12px;
}

.gutenbee-block-button-link,
.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]):hover,
.wp-block-button__link {
	background-color: var(--ignition-buttons-background-color);
	color: var(--ignition-buttons-text-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]),
.gutenbee-block-button-link {
	border-color: var(--ignition-buttons-background-color);
}

.wp-block-button.is-style-outline .wp-block-button__link:not([class*="has-"]) {
	color: var(--ignition-buttons-background-color);
}

/* Paragraph Block
=================================== */
.has-drop-cap:not(:focus) {
	&::first-letter {
		padding: 0 .55rem 0 0;
		font-size: 4rem;
		line-height: .9;
		font-weight: var(--ignition-font-weight-bold);
	}
}

/* Separator Block
=================================== */
.wp-block-separator {
	background-color: var(--ignition-border-color);
}

/* Pullquote Block
=================================== */
.wp-block-pullquote {
	border-top: 1px solid;
	border-bottom: 1px solid;

	&.is-style-solid-color {
		font-size: 1rem;
		line-height: 1.33;
		position: relative;
		padding: 30px 30px 30px 80px;
		border: 0;

		&::before {
			content: "\00201C";
			font-style: normal;
			font-size: 4rem;
			line-height: 0;
			position: absolute;
			left: 30px;
			top: 57px;
		}

		blockquote {
			margin: 0;
			max-width: 100%;

			p {
				font-size: 1rem;
				line-height: 1.56;
				font-weight: var(--ignition-font-weight-normal);
			}

			.wp-block-pullquote__citation {
				font-size: .875rem;
				font-weight: var(--ignition-font-weight-normal);
			}
		}
	}
}

/* Quote block
=================================== */
.wp-block-quote {
	font-size: 1rem;
	line-height: 1.33;
	position: relative !important;
	padding: 30px 30px 30px 80px;
	border: 0;
	background-color: var(--ignition-colors-grey);

	&::before {
		content: "\00201C";
		display: block;
		font-style: normal;
		font-size: 4rem;
		line-height: 0;
		position: absolute;
		left: 30px;
		top: 57px;
	}

	p {
		font-size: 1rem;
		line-height: 1.56;
		font-weight: var(--ignition-font-weight-normal);
	}

	cite {
		font-size: .875rem;
		font-weight: var(--ignition-font-weight-normal);
	}

	&.is-style-large {
		padding: 30px 30px 30px 80px;

		&::before {
			content: "\00201C";
			display: block;
		}

		p {
			font-size: 20px;
		}
	}

	&.has-text-align-center {
		padding: 30px;

		&::before {
			display: block;
			position: static;
			margin-top: 30px;
			margin-bottom: 15px;
		}
	}

	&.has-text-align-right {
		padding: 30px 80px 30px 30px;

		&::before {
			left: auto;
			right: 30px;
			top: 30px;
			transform: rotate(180deg);
		}
	}
}


/* Table block
=================================== */
.wp-block-table {
	&.is-style-ignition-milos-table {
		border: 0;

		thead {
			color: var(--ignition-colors-white);

			th {
				&:first-child {
					border-top-left-radius: var(--ignition-milos-border-radius-base);
				}

				&:last-child {
					border-top-right-radius: var(--ignition-milos-border-radius-base);
				}
			}
		}

		tbody {
			tr {
				&:nth-child(odd) {
					background: none;
				}

				&:nth-child(even) {
					background-color: lighten(#f1f1f1, 2.2%);
				}
			}
		}

		.has-background {
			thead {
				background: rgba(#000, 0.05);
			}

			tfoot {
				background: none;
			}

			tbody {
				tr {
					&:nth-child(even) {
						background-color: rgba(#000, 0.03);
					}
				}
			}
		}
	}
}

/* Global Widget Block Styles
=================================== */
.wp-block-rss,
.wp-block-archives,
.wp-block-categories {
	li {
		a {
			color: var(--ignition-text-color);
		}
	}
}

/* Tags
=================================== */
.tag-cloud-link {
	color: var(--ignition-text-color);
}

/* Search Widget Block
=================================== */
.wp-block-search {
	.wp-block-search__button {
		background: var(--ignition-primary-color);
		color: var(--ignition-colors-white);
	}
}

/* Latest Posts block
=================================== */
.wp-block-latest-posts {
	.wp-block-latest-posts__featured-image {
		img {
			@include border-image;
		}
	}

	> li {
		> a {
			color: var(--ignition-text-color);

			&:hover {
				color: var(--ignition-primary-color);
			}
		}
	}
}

/* File Block
=================================== */
.wp-block-file__content-wrapper {
	.wp-block-file__button {
		background-color: var(--ignition-primary-color);
		color: var(--ignition-colors-white);
	}
}

/* Image block
=================================== */
.wp-block-image {
	&.is-style-ignition-milos-border-image {
		img {
			@include border-image;
		}
	}
}

/* Gallery block
=================================== */
.wp-block-gallery {
	&.is-style-ignition-milos-border-image {
		img {
			@include border-image;
		}

		figcaption {
			bottom: 10px;
			left: 10px;
			width: calc(100% - 20px);
		}
	}
}

/* Media & Text block
=================================== */
.wp-block-media-text {
	&.is-style-ignition-milos-border-image {
		.wp-block-media-text__media {
			@include border-image;
		}

		&.is-image-fill {
			.wp-block-media-text__media {
				position: relative;
				box-shadow: none;
				padding: 0;
				background-color: transparent;

				&::before {
					@include border-image;
					background: none;
					border: 10px solid var(--ignition-colors-white);
					content: "";
					pointer-events: none;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

/* Cover block
=================================== */
.wp-block-cover {
	&.is-style-ignition-milos-border-image {
		&::after {
			@include border-image;
			background: none;
			border: 10px solid var(--ignition-colors-white);
			content: "";
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
}

/* Video block
=================================== */
.wp-block-video {
	&.is-style-ignition-milos-border-image {
		video {
			@include border-image;
		}
	}
}

/* Embeds block (Needs custom class)
=================================== */
.wp-block-embed {
	&.is-style-ignition-milos-border-image {
		iframe {
			@include border-image;
		}
	}
}

/* -----------------------------------------
  Gutenbee Plugin Blocks
----------------------------------------- */

/* Image block
=================================== */
.wp-block-gutenbee-image {
	&.is-style-ignition-milos-border-image {
		img {
			@include border-image;
		}
	}
}

/* Image Box block
=================================== */
.wp-block-gutenbee-imagebox {
	&.is-style-ignition-milos-border-image {
		img {
			@include border-image;
		}
	}
}

/* Gallery block
=================================== */
.wp-block-gutenbee-justified-gallery {
	&.is-style-ignition-milos-border-image {
		@include border-image;
	}
}

/* Video block
=================================== */
.wp-block-gutenbee-video {
	&.is-style-ignition-milos-border-image {
		video {
			@include border-image;
		}
	}
}

/* Slideshow block
=================================== */
.wp-block-gutenbee-slideshow {
	&.is-style-ignition-milos-border-image {
		@include border-image;

		.slick-dots {
			bottom: 15px;
		}
	}
}

/* Maps block
=================================== */
.wp-block-gutenbee-google-maps {
	&.is-style-ignition-milos-border-image {
		@include border-image;
	}
}

/* -----------------------------------------
  WooCommerce Blocks
----------------------------------------- */

/* Featured Category Block
========================================= */
.wc-block-featured-category {
	&.is-style-ignition-milos-border-image {
		&::after {
			@include border-image;
			background: none;
			border: 10px solid var(--ignition-colors-white);
			content: "";
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
}

/* Featured Product Block
========================================= */
.wc-block-featured-product {
	&.is-style-ignition-milos-border-image {
		&::after {
			@include border-image;
			background: none;
			border: 10px solid var(--ignition-colors-white);
			content: "";
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
}

/* WooCommerce - Product Listings
=================================== */
.wc-block-grid__products {
	.wc-block-grid__product {
		img {
			@include border-image;
		}

		.wc-block-grid__product-link {
			&:hover {
				color: var(--ignition-primary-color);
			}
		}

		.wc-block-grid__product-title {
			a {
				color: var(--ignition-text-color);
				font-weight: var(--ignition-font-weight-bold);

				&:hover {
					color: var(--ignition-primary-color);
				}
			}
		}

		.wc-block-grid__product-onsale {
			position: absolute;
			top: 15px !important;
			right: 15px !important;
			left: auto !important;
			background-color: var(--ignition-primary-color);
			font-weight: var(--ignition-font-weight-bold);
			font-size: 11px;
			text-transform: uppercase;
		}

		.button,
		.wc-block-grid__product-add-to-cart .wp-block-button__link {
			line-height: 1.3;
			padding: 12px 32px;
			text-transform: uppercase;
			letter-spacing: var(--ignition-milos-letter-spacing-base);
			border-radius: 30px !important;
			font-size: 12px;
		}
	}
}

// Pagination
.wc-block-pagination {
	.wc-block-pagination-page {
		border-color: 2px solid var(--ignition-border-color);
		color: var(--ignition-text-color);
		border-radius: var(--ignition-milos-border-radius-base);
		font-weight: var(--ignition-font-weight-bold);
		font-size: 13px;

		&.wc-block-pagination-page--active,
		&:hover {
			color: var(--ignition-colors-white);
		}
	}
}

/* Reviews block
========================================= */
.wc-block-review-list {
	.wc-block-review-list-item__published-date {
		color: var(--ignition-text-color-light);
	}

	.wc-block-review-list-item__product {
		a {
			color: var(--ignition-text-color);
		}
	}
}

/* Product Categories block
========================================= */
.wc-block-product-categories-list {
	li {
		a {
			color: var(--ignition-text-color);
		}
	}
}

.wc-block-product-categories {
	.wc-block-product-categories__button {
		border-color: var(--ignition-border-color);
	}
}

/* Attribute Filters block
========================================= */
.wc-block-attribute-filter {
	.wc-block-attribute-filter-list {
		[type="checkbox"] {
			&:checked + label {
				color: var(--ignition-primary-color);
			}
		}

		label {
			color: var(--ignition-text-color);
		}
	}
}

/* Active Filters block
========================================= */
.wc-block-active-filters {
	.wc-block-active-filters__list.wc-block-active-filters__list--chips {
		li.wc-block-active-filters__list-item {
			color: var(--ignition-text-color);
		}
	}
}

/* Filter by Price block
========================================= */
.wc-block-price-filter {
	.wc-block-price-filter__range-input-wrapper {
		.wc-block-price-filter__range-input-progress {
			--range-color: var(--ignition-border-color);
		}
	}
}

/* Sort Select Element block
========================================= */
.wc-block-sort-select {
	.wc-block-sort-select__select {
		color: var(--ignition-text-color);
	}
}
